<a href="https://colab.research.google.com/github/Wittig18/Sales_data_preprocessing/blob/main/Data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importing Libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

#

In [ ]:
data = pd.read_csv('customer_data.csv')

In [ ]:
data

,CustomerID,Age,Gender,Income,PurchaseAmount,JoinDate,Location,IsMember
0,101,25.0,Male,45000.0,120.0,5/10/2021,Lagos,Yes
1,102,NaN,Female,52000.0,220.0,7/13/2020,Abuja,No
2,103,33.0,M,NaN,310.0,13-08-2022,Lagos,YES
3,104,200.0,Female,58000.0,NaN,9/21/2021,Port harourt,No
4,105,28.0,NaN,47000.0,150.0,12/2/2021,Kaduna,Yes
5,106,22.0,Male,38000.0,90.0,1/17/2020,lagos,yes
6,107,31.0,Female,62000.0,5000.0,11/11/2019,Abuja,No
7,108,29.0,Fmale,54000.0,180.0,4/25/2021,Ibadan,Yes
8,109,27.0,Male,49000.0,160.0,7/18/2020,IBADAN,No
9,110,35.0,Female,61000.0,200.0,2022-02-30,Lagos,Yes
10,111,26.0,male,45000.0,130.0,5/5/2020,kano,No
11,112,NaN,Female,58000.0,300.0,8/19/2021,Kaduna,Yes
12,113,44.0,Male,150000.0,800.0,3/12/2019,Lagos,Yes
13,114,31.0,Female,60000.0,250.0,6/21/2019,Abuja,No
14,115,29.0,Female,58000.0,260.0,11/3/2021,Abuja,No
15,115,29.0,Female,58000.0,260.0,11/3/2021,Abuja,No
16,116,18.0,Male,22000.0,70.0,1/14/2022,Kano,Yes
17,117,21.0,NaN,30000.0,50000.0,7/22/2021,Lagos,No
18,118,29.0,Male,NaN,140.0,12/18/2020,Port Harcourt,Yes
19,119,32.0,Female,67000.0,NaN,9/5/2021,Abuja,yes
20,120,-5.0,Male,50000.0,210.0,1/25/2021,Lagos,Yes
21,121,27.0,Female,49000.0,8000.0,2/20/2019,Kadunaa,No
22,122,31.0,Male,51000.0,160.0,3/1/2020,Abuja,Yes
23,123,NaN,Female,62000.0,260.0,6/16/2020,Lagos,No
24,124,29.0,Female,59000.0,240.0,10/28/2021,Kaduna,Yes
25,125,35.0,NaN,65000.0,450.0,4/12/2021,Ibadan,Yes
26,126,24.0,Female,27000.0,100.0,8/9/2020,Abuja,yes
27,127,23.0,Female,28000.0,110.0,3/17/2022,kano,No
28,128,40.0,Male,95000.0,350.0,9/25/2019,Port-Harcourt,Yes
29,129,22.0,Male,300000.0,160.0,7/19/2021,Abuja,Yes
30,130,31.0,female,56000.0,280.0,11/11/2020,Lagos,No
31,131,28.0,Male,51000.0,270.0,13-07-2021,kaduna,YES
32,132,26.0,Female,47000.0,150.0,12/4/2021,Kaduna,No
33,133,33.0,Male,49000.0,NaN,4/26/2020,Abuja,Yes
34,134,27.0,male,NaN,190.0,2/21/2021,LAgos,yes
35,135,31.0,Female,60000.0,NaN,5/14/2021,NaN,No
36,136,29.0,Female,61000.0,310.0,1/18/2022,Abuja,Yes
37,137,28.0,FMale,43000.0,200.0,10/10/2020,Abuja,No
38,138,45.0,Male,70000.0,400.0,9/20/2021,Lagos,Yes
39,139,46.0,Female,75000.0,420.0,3/22/2021,Port Harcourt,NO
40,140,34.0,Male,62000.0,260.0,8/12/2019,Kano,Yes
41,141,25.0,Male,48000.0,180.0,6/1/2021,Ibadan,Yes
42,142,29.0,Female,61000.0,290.0,NaN,Abuja,Yes
43,143,31.0,Male,52000.0,150.0,7/24/2021,Lagos,No
44,144,32.0,Female,58000.0,230.0,5/15/2021,Kaduna,Yes
45,145,22.0,Male,32000.0,80.0,1/30/2020,Port Harcourt,Yes
46,146,500.0,Female,65000.0,300.0,8/18/2021,Lagos,No
47,147,30.0,Male,NaN,200.0,9/10/2020,Abuja,Yes
48,148,33.0,Female,53000.0,210.0,2/27/2021,Ibadan,Yes
49,149,31.0,NaN,62000.0,250.0,4/6/2021,Lagos,No
50,150,24.0,Male,41000.0,190.0,12/30/2020,Abuja,Yes

In [ ]:
data.head()

,CustomerID,Age,Gender,Income,PurchaseAmount,JoinDate,Location,IsMember
0,101,25.0,Male,45000.0,120.0,5/10/2021,Lagos,Yes
1,102,NaN,Female,52000.0,220.0,7/13/2020,Abuja,No
2,103,33.0,M,NaN,310.0,13-08-2022,Lagos,YES
3,104,200.0,Female,58000.0,NaN,9/21/2021,Port harourt,No
4,105,28.0,NaN,47000.0,150.0,12/2/2021,Kaduna,Yes

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerID      51 non-null     int64
 1   Age             48 non-null     float64
 2   Gender          47 non-null     object
 3   Income          47 non-null     float64
 4   PurchaseAmount  47 non-null     float64
 5   JoinDate        50 non-null     object
 6   Location        50 non-null     object
 7   IsMember        51 non-null     object
dtypes: float64(3), int64(1), object(4)
memory usage: 3.3+ KB

AttributeError: 'NoneType' object has no attribute 'sum'

In [ ]:
data.describe()

       CustomerID         Age         Income  PurchaseAmount
count   51.000000   48.000000      47.000000       47.000000
mean   125.294118   42.291667   60553.191489     1558.297872
std     14.505577   72.247199   40522.569401     7339.463705
min    101.000000   -5.000000   22000.000000       70.000000
25%    113.500000   26.000000   47500.000000      160.000000
50%    125.000000   29.000000   56000.000000      220.000000
75%    137.500000   32.250000   61500.000000      295.000000
max    150.000000  500.000000  300000.000000    50000.000000

In [ ]:
data.shape

(51, 8)

In [ ]:
data.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
dtype: bool

In [ ]:
df= data.drop_duplicates(keep = 'first')

In [ ]:
df

,CustomerID,Age,Gender,Income,PurchaseAmount,JoinDate,Location,IsMember
0,101,25.0,Male,45000.0,120.0,5/10/2021,Lagos,Yes
1,102,NaN,Female,52000.0,220.0,7/13/2020,Abuja,No
2,103,33.0,M,NaN,310.0,13-08-2022,Lagos,YES
3,104,200.0,Female,58000.0,NaN,9/21/2021,Port harourt,No
4,105,28.0,NaN,47000.0,150.0,12/2/2021,Kaduna,Yes
5,106,22.0,Male,38000.0,90.0,1/17/2020,lagos,yes
6,107,31.0,Female,62000.0,5000.0,11/11/2019,Abuja,No
7,108,29.0,Fmale,54000.0,180.0,4/25/2021,Ibadan,Yes
8,109,27.0,Male,49000.0,160.0,7/18/2020,IBADAN,No
9,110,35.0,Female,61000.0,200.0,2022-02-30,Lagos,Yes
10,111,26.0,male,45000.0,130.0,5/5/2020,kano,No
11,112,NaN,Female,58000.0,300.0,8/19/2021,Kaduna,Yes
12,113,44.0,Male,150000.0,800.0,3/12/2019,Lagos,Yes
13,114,31.0,Female,60000.0,250.0,6/21/2019,Abuja,No
14,115,29.0,Female,58000.0,260.0,11/3/2021,Abuja,No
16,116,18.0,Male,22000.0,70.0,1/14/2022,Kano,Yes
17,117,21.0,NaN,30000.0,50000.0,7/22/2021,Lagos,No
18,118,29.0,Male,NaN,140.0,12/18/2020,Port Harcourt,Yes
19,119,32.0,Female,67000.0,NaN,9/5/2021,Abuja,yes
20,120,-5.0,Male,50000.0,210.0,1/25/2021,Lagos,Yes
21,121,27.0,Female,49000.0,8000.0,2/20/2019,Kadunaa,No
22,122,31.0,Male,51000.0,160.0,3/1/2020,Abuja,Yes
23,123,NaN,Female,62000.0,260.0,6/16/2020,Lagos,No
24,124,29.0,Female,59000.0,240.0,10/28/2021,Kaduna,Yes
25,125,35.0,NaN,65000.0,450.0,4/12/2021,Ibadan,Yes
26,126,24.0,Female,27000.0,100.0,8/9/2020,Abuja,yes
27,127,23.0,Female,28000.0,110.0,3/17/2022,kano,No
28,128,40.0,Male,95000.0,350.0,9/25/2019,Port-Harcourt,Yes
29,129,22.0,Male,300000.0,160.0,7/19/2021,Abuja,Yes
30,130,31.0,female,56000.0,280.0,11/11/2020,Lagos,No
31,131,28.0,Male,51000.0,270.0,13-07-2021,kaduna,YES
32,132,26.0,Female,47000.0,150.0,12/4/2021,Kaduna,No
33,133,33.0,Male,49000.0,NaN,4/26/2020,Abuja,Yes
34,134,27.0,male,NaN,190.0,2/21/2021,LAgos,yes
35,135,31.0,Female,60000.0,NaN,5/14/2021,NaN,No
36,136,29.0,Female,61000.0,310.0,1/18/2022,Abuja,Yes
37,137,28.0,FMale,43000.0,200.0,10/10/2020,Abuja,No
38,138,45.0,Male,70000.0,400.0,9/20/2021,Lagos,Yes
39,139,46.0,Female,75000.0,420.0,3/22/2021,Port Harcourt,NO
40,140,34.0,Male,62000.0,260.0,8/12/2019,Kano,Yes
41,141,25.0,Male,48000.0,180.0,6/1/2021,Ibadan,Yes
42,142,29.0,Female,61000.0,290.0,NaN,Abuja,Yes
43,143,31.0,Male,52000.0,150.0,7/24/2021,Lagos,No
44,144,32.0,Female,58000.0,230.0,5/15/2021,Kaduna,Yes
45,145,22.0,Male,32000.0,80.0,1/30/2020,Port Harcourt,Yes
46,146,500.0,Female,65000.0,300.0,8/18/2021,Lagos,No
47,147,30.0,Male,NaN,200.0,9/10/2020,Abuja,Yes
48,148,33.0,Female,53000.0,210.0,2/27/2021,Ibadan,Yes
49,149,31.0,NaN,62000.0,250.0,4/6/2021,Lagos,No
50,150,24.0,Male,41000.0,190.0,12/30/2020,Abuja,Yes

In [ ]:
df.shape

(8,)

In [ ]:
df

Index(['CustomerID', 'Age', 'Gender', 'Income', 'PurchaseAmount', 'JoinDate',
       'Location', 'IsMember'],
      dtype='object')

In [ ]:
df = df.columns.str.strip()

In [ ]:
df.head()

AttributeError: 'Index' object has no attribute 'head'

In [ ]:
df.columns = df.columns.str.strip()

In [ ]:
df.head()

,CustomerID,Age,Gender,Income,PurchaseAmount,JoinDate,Location,IsMember
0,101,25.0,Male,45000.0,120.0,5/10/2021,Lagos,Yes
1,102,NaN,Female,52000.0,220.0,7/13/2020,Abuja,No
2,103,33.0,M,NaN,310.0,13-08-2022,Lagos,YES
3,104,200.0,Female,58000.0,NaN,9/21/2021,Port harourt,No
4,105,28.0,NaN,47000.0,150.0,12/2/2021,Kaduna,Yes

In [ ]:
print(df['Gender'].unique())

['Male' 'Female' 'M' nan 'Fmale' 'male' 'female' 'FMale']

In [ ]:
print(df['Location'].unique())

['Lagos' 'Abuja' 'Port harourt' 'Kaduna' 'lagos' 'Ibadan' 'IBADAN' 'kano'
 'Kano' 'Port Harcourt' 'Kadunaa' 'Port-Harcourt' 'kaduna' 'LAgos' nan]

In [ ]:
print(df['IsMember'].unique())

['Yes' 'No' 'YES' 'yes' 'NO']

In [ ]:
df['CustomerID'] = pd.to_numeric(df['CustomerID'], errors='coerce').astype('Int64')

/tmp/ipython-input-1286763177.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CustomerID'] = pd.to_numeric(df['CustomerID'], errors='coerce').astype('Int64')

In [ ]:
type(df['CustomerID'])

pandas.core.series.Series

In [ ]:
df.sort_values('CustomerID', inplace=True)

/tmp/ipython-input-3968787557.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_values('CustomerID', inplace=True)

In [ ]:
df.head()

,CustomerID,Age,Gender,Income,PurchaseAmount,JoinDate,Location,IsMember
0,101,25.0,Male,45000.0,120.0,5/10/2021,Lagos,Yes
1,102,NaN,Female,52000.0,220.0,7/13/2020,Abuja,No
2,103,33.0,M,NaN,310.0,13-08-2022,Lagos,YES
3,104,200.0,Female,58000.0,NaN,9/21/2021,Port harourt,No
4,105,28.0,NaN,47000.0,150.0,12/2/2021,Kaduna,Yes

In [ ]:

dups = df[df.duplicated(subset=['CustomerID'], keep = False)]
dups

Empty DataFrame
Columns: [CustomerID, Age, Gender, Income, PurchaseAmount, JoinDate, Location, IsMember]
Index: []

In [ ]:
for col in ['Age','PurchaseAmount', 'Income']:
  df[col] = pd.to_numeric(df[col], errors='coerce')

/tmp/ipython-input-3810180587.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = pd.to_numeric(df[col], errors='coerce')

In [ ]:
df[['Age', 'PurchaseAmount', 'Income']].describe()

              Age  PurchaseAmount         Income
count   47.000000       46.000000      46.000000
mean    42.574468     1586.521739   60608.695652
std     73.001413     7417.986015   40968.539833
min     -5.000000       70.000000   22000.000000
25%     26.000000      160.000000   47250.000000
50%     29.000000      215.000000   55000.000000
75%     32.500000      297.500000   61750.000000
max    500.000000    50000.000000  300000.000000

In [ ]:
df.loc[(df['Age'] < 0) | (df['Age'] >120), 'Age'] = np.nan

In [ ]:
df.loc[df['Age'] > 120]

Empty DataFrame
Columns: [CustomerID, Age, Gender, Income, PurchaseAmount, JoinDate, Location, IsMember]
Index: []

In [ ]:
df.loc[df['Income'] < 0, 'Income'] = np.nan

In [ ]:
df.loc[df['PurchaseAmount'] < 0, 'PurchaseAmount'] = np.nan

In [ ]:
from numpy._core.numeric import astype
df['Gender'] = df['Gender'].astype(str).str.strip().str.lower()

/tmp/ipython-input-2322556177.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gender'] = df['Gender'].astype(str).str.strip().str.lower()

In [ ]:
df['IsMember'] = df['IsMember'].astype(str).str.strip().str.lower()

/tmp/ipython-input-372011239.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['IsMember'] = df['IsMember'].astype(str).str.strip().str.lower()

In [ ]:
df['Location'] = df['Location'].astype(str).str.strip().str.lower()

/tmp/ipython-input-1472263998.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Location'] = df['Location'].astype(str).str.strip().str.lower()

In [ ]:
df['Gender']

0       male
1     female
2          m
3     female
4        nan
5       male
6     female
7      fmale
8       male
9     female
10      male
11    female
12      male
13    female
14    female
16      male
17       nan
18      male
19    female
20      male
21    female
22      male
23    female
24    female
25       nan
26    female
27    female
28      male
29      male
30    female
31      male
32    female
33      male
34      male
35    female
36    female
37     fmale
38      male
39    female
40      male
41      male
42    female
43      male
44    female
45      male
46    female
47      male
48    female
49       nan
50      male
Name: Gender, dtype: object

In [ ]:
df['Gender'] = df['Gender'].replace({'male': 'male', 'm': 'male', 'female': 'female', 'f': 'female', 'fmale' : 'female'})

/tmp/ipython-input-2822732941.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gender'] = df['Gender'].replace({'male': 'male', 'm': 'male', 'female': 'female', 'f': 'female', 'fmale' : 'female'})

In [ ]:
df['Gender'].unique()

array(['male', 'female', 'nan'], dtype=object)

In [ ]:
df["Location"] = df["Location"].replace({
    "lagos":"lagos", "lAgos":"lagos", "lagos ":"lagos", "port harcourt":"port harcourt", "port-harcourt":"port harcourt",
    "port harourt":"port harcourt", "kadunaa":"kaduna", "kano":"kano", "ibadan":"ibadan"
})


df["IsMember"] = df["IsMember"].replace({"yes":"yes","y":"yes","no":"no","n":"no","yes.":"yes","true":"yes","false":"no"})

/tmp/ipython-input-533374438.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Location"] = df["Location"].replace({
/tmp/ipython-input-533374438.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["IsMember"] = df["IsMember"].replace({"yes":"yes","y":"yes","no":"no","n":"no","yes.":"yes","true":"yes","false":"no"})

In [ ]:
df.head()

,CustomerID,Age,Gender,Income,PurchaseAmount,JoinDate,Location,IsMember
0,101,25.0,male,45000.0,120.0,5/10/2021,lagos,yes
1,102,NaN,female,52000.0,220.0,7/13/2020,abuja,no
2,103,33.0,male,NaN,310.0,13-08-2022,lagos,yes
3,104,NaN,female,58000.0,NaN,9/21/2021,port harcourt,no
4,105,28.0,nan,47000.0,150.0,12/2/2021,kaduna,yes

In [ ]:
df['JoinDate_Parsed'] = pd.to_datetime(df['JoinDate'], errors='coerce')

/tmp/ipython-input-1078335803.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['JoinDate_Parsed'] = pd.to_datetime(df['JoinDate'], errors='coerce')

In [ ]:
incorrect_date = df[df['JoinDate_Parsed'].isna()][['JoinDate']].drop_duplicates()

In [ ]:
incorrect_date

      JoinDate
2   13-08-2022
9   2022-02-30
31  13-07-2021
42         NaN

In [ ]:
for col in ["Age","Income","PurchaseAmount"]:
    df[f"{col}_was_missing"] = df[col].isna().astype(int)

/tmp/ipython-input-3731573946.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f"{col}_was_missing"] = df[col].isna().astype(int)
/tmp/ipython-input-3731573946.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f"{col}_was_missing"] = df[col].isna().astype(int)
/tmp/ipython-input-3731573946.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f"{col}_was_missing"] = df[col].isna().astype(int)

In [ ]:
num_imputer = SimpleImputer(strategy="median")
df[["Age","Income","PurchaseAmount"]] = num_imputer.fit_transform(df[["Age","Income","PurchaseAmount"]])

/tmp/ipython-input-261135908.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[["Age","Income","PurchaseAmount"]] = num_imputer.fit_transform(df[["Age","Income","PurchaseAmount"]])

In [ ]:
df_backup

,CustomerID,Age,Gender,Income,PurchaseAmount,JoinDate,Location,IsMember,JoinDate_Parsed,Age_was_missing,Income_was_missing,PurchaseAmount_was_missing
0,101,25.0,male,45000.0,120.0,5/10/2021,lagos,yes,2021-05-10,0,0,0
1,102,29.0,female,52000.0,220.0,7/13/2020,abuja,no,2020-07-13,1,0,0
2,103,33.0,male,55000.0,310.0,13-08-2022,lagos,yes,NaT,0,1,0
3,104,29.0,female,58000.0,215.0,9/21/2021,port harcourt,no,2021-09-21,1,0,1
4,105,28.0,nan,47000.0,150.0,12/2/2021,kaduna,yes,2021-12-02,0,0,0
5,106,22.0,male,38000.0,90.0,1/17/2020,lagos,yes,2020-01-17,0,0,0
6,107,31.0,female,62000.0,5000.0,11/11/2019,abuja,no,2019-11-11,0,0,0
7,108,29.0,female,54000.0,180.0,4/25/2021,ibadan,yes,2021-04-25,0,0,0
8,109,27.0,male,49000.0,160.0,7/18/2020,ibadan,no,2020-07-18,0,0,0
9,110,35.0,female,61000.0,200.0,2022-02-30,lagos,yes,NaT,0,0,0
10,111,26.0,male,45000.0,130.0,5/5/2020,kano,no,2020-05-05,0,0,0
11,112,29.0,female,58000.0,300.0,8/19/2021,kaduna,yes,2021-08-19,1,0,0
12,113,44.0,male,150000.0,800.0,3/12/2019,lagos,yes,2019-03-12,0,0,0
13,114,31.0,female,60000.0,250.0,6/21/2019,abuja,no,2019-06-21,0,0,0
14,115,29.0,female,58000.0,260.0,11/3/2021,abuja,no,2021-11-03,0,0,0
16,116,18.0,male,22000.0,70.0,1/14/2022,kano,yes,2022-01-14,0,0,0
17,117,21.0,nan,30000.0,50000.0,7/22/2021,lagos,no,2021-07-22,0,0,0
18,118,29.0,male,55000.0,140.0,12/18/2020,port harcourt,yes,2020-12-18,0,1,0
19,119,32.0,female,67000.0,215.0,9/5/2021,abuja,yes,2021-09-05,0,0,1
20,120,29.0,male,50000.0,210.0,1/25/2021,lagos,yes,2021-01-25,1,0,0
21,121,27.0,female,49000.0,8000.0,2/20/2019,kaduna,no,2019-02-20,0,0,0
22,122,31.0,male,51000.0,160.0,3/1/2020,abuja,yes,2020-03-01,0,0,0
23,123,29.0,female,62000.0,260.0,6/16/2020,lagos,no,2020-06-16,1,0,0
24,124,29.0,female,59000.0,240.0,10/28/2021,kaduna,yes,2021-10-28,0,0,0
25,125,35.0,nan,65000.0,450.0,4/12/2021,ibadan,yes,2021-04-12,0,0,0
26,126,24.0,female,27000.0,100.0,8/9/2020,abuja,yes,2020-08-09,0,0,0
27,127,23.0,female,28000.0,110.0,3/17/2022,kano,no,2022-03-17,0,0,0
28,128,40.0,male,95000.0,350.0,9/25/2019,port harcourt,yes,2019-09-25,0,0,0
29,129,22.0,male,300000.0,160.0,7/19/2021,abuja,yes,2021-07-19,0,0,0
30,130,31.0,female,56000.0,280.0,11/11/2020,lagos,no,2020-11-11,0,0,0
31,131,28.0,male,51000.0,270.0,13-07-2021,kaduna,yes,NaT,0,0,0
32,132,26.0,female,47000.0,150.0,12/4/2021,kaduna,no,2021-12-04,0,0,0
33,133,33.0,male,49000.0,215.0,4/26/2020,abuja,yes,2020-04-26,0,0,1
34,134,27.0,male,55000.0,190.0,2/21/2021,lagos,yes,2021-02-21,0,1,0
35,135,31.0,female,60000.0,215.0,5/14/2021,nan,no,2021-05-14,0,0,1
36,136,29.0,female,61000.0,310.0,1/18/2022,abuja,yes,2022-01-18,0,0,0
37,137,28.0,female,43000.0,200.0,10/10/2020,abuja,no,2020-10-10,0,0,0
38,138,45.0,male,70000.0,400.0,9/20/2021,lagos,yes,2021-09-20,0,0,0
39,139,46.0,female,75000.0,420.0,3/22/2021,port harcourt,no,2021-03-22,0,0,0
40,140,34.0,male,62000.0,260.0,8/12/2019,kano,yes,2019-08-12,0,0,0
41,141,25.0,male,48000.0,180.0,6/1/2021,ibadan,yes,2021-06-01,0,0,0
42,142,29.0,female,61000.0,290.0,NaN,abuja,yes,NaT,0,0,0
43,143,31.0,male,52000.0,150.0,7/24/2021,lagos,no,2021-07-24,0,0,0
44,144,32.0,female,58000.0,230.0,5/15/2021,kaduna,yes,2021-05-15,0,0,0
45,145,22.0,male,32000.0,80.0,1/30/2020,port harcourt,yes,2020-01-30,0,0,0
46,146,29.0,female,65000.0,300.0,8/18/2021,lagos,no,2021-08-18,1,0,0
47,147,30.0,male,55000.0,200.0,9/10/2020,abuja,yes,2020-09-10,0,1,0
48,148,33.0,female,53000.0,210.0,2/27/2021,ibadan,yes,2021-02-27,0,0,0
49,149,31.0,nan,62000.0,250.0,4/6/2021,lagos,no,2021-04-06,0,0,0
50,150,24.0,male,41000.0,190.0,12/30/2020,abuja,yes,2020-12-30,0,0,0

In [ ]:
 df = df_backup.copy()

In [ ]:
df

,CustomerID,Age,Gender,Income,PurchaseAmount,JoinDate,Location,IsMember,JoinDate_Parsed,Age_was_missing,Income_was_missing,PurchaseAmount_was_missing
0,101,25.0,male,45000.0,120.0,5/10/2021,lagos,yes,2021-05-10,0,0,0
1,102,29.0,female,52000.0,220.0,7/13/2020,abuja,no,2020-07-13,1,0,0
2,103,33.0,male,55000.0,310.0,13-08-2022,lagos,yes,NaT,0,1,0
3,104,29.0,female,58000.0,215.0,9/21/2021,port harcourt,no,2021-09-21,1,0,1
4,105,28.0,nan,47000.0,150.0,12/2/2021,kaduna,yes,2021-12-02,0,0,0
5,106,22.0,male,38000.0,90.0,1/17/2020,lagos,yes,2020-01-17,0,0,0
6,107,31.0,female,62000.0,5000.0,11/11/2019,abuja,no,2019-11-11,0,0,0
7,108,29.0,female,54000.0,180.0,4/25/2021,ibadan,yes,2021-04-25,0,0,0
8,109,27.0,male,49000.0,160.0,7/18/2020,ibadan,no,2020-07-18,0,0,0
9,110,35.0,female,61000.0,200.0,2022-02-30,lagos,yes,NaT,0,0,0
10,111,26.0,male,45000.0,130.0,5/5/2020,kano,no,2020-05-05,0,0,0
11,112,29.0,female,58000.0,300.0,8/19/2021,kaduna,yes,2021-08-19,1,0,0
12,113,44.0,male,150000.0,800.0,3/12/2019,lagos,yes,2019-03-12,0,0,0
13,114,31.0,female,60000.0,250.0,6/21/2019,abuja,no,2019-06-21,0,0,0
14,115,29.0,female,58000.0,260.0,11/3/2021,abuja,no,2021-11-03,0,0,0
16,116,18.0,male,22000.0,70.0,1/14/2022,kano,yes,2022-01-14,0,0,0
17,117,21.0,nan,30000.0,50000.0,7/22/2021,lagos,no,2021-07-22,0,0,0
18,118,29.0,male,55000.0,140.0,12/18/2020,port harcourt,yes,2020-12-18,0,1,0
19,119,32.0,female,67000.0,215.0,9/5/2021,abuja,yes,2021-09-05,0,0,1
20,120,29.0,male,50000.0,210.0,1/25/2021,lagos,yes,2021-01-25,1,0,0
21,121,27.0,female,49000.0,8000.0,2/20/2019,kaduna,no,2019-02-20,0,0,0
22,122,31.0,male,51000.0,160.0,3/1/2020,abuja,yes,2020-03-01,0,0,0
23,123,29.0,female,62000.0,260.0,6/16/2020,lagos,no,2020-06-16,1,0,0
24,124,29.0,female,59000.0,240.0,10/28/2021,kaduna,yes,2021-10-28,0,0,0
25,125,35.0,nan,65000.0,450.0,4/12/2021,ibadan,yes,2021-04-12,0,0,0
26,126,24.0,female,27000.0,100.0,8/9/2020,abuja,yes,2020-08-09,0,0,0
27,127,23.0,female,28000.0,110.0,3/17/2022,kano,no,2022-03-17,0,0,0
28,128,40.0,male,95000.0,350.0,9/25/2019,port harcourt,yes,2019-09-25,0,0,0
29,129,22.0,male,300000.0,160.0,7/19/2021,abuja,yes,2021-07-19,0,0,0
30,130,31.0,female,56000.0,280.0,11/11/2020,lagos,no,2020-11-11,0,0,0
31,131,28.0,male,51000.0,270.0,13-07-2021,kaduna,yes,NaT,0,0,0
32,132,26.0,female,47000.0,150.0,12/4/2021,kaduna,no,2021-12-04,0,0,0
33,133,33.0,male,49000.0,215.0,4/26/2020,abuja,yes,2020-04-26,0,0,1
34,134,27.0,male,55000.0,190.0,2/21/2021,lagos,yes,2021-02-21,0,1,0
35,135,31.0,female,60000.0,215.0,5/14/2021,nan,no,2021-05-14,0,0,1
36,136,29.0,female,61000.0,310.0,1/18/2022,abuja,yes,2022-01-18,0,0,0
37,137,28.0,female,43000.0,200.0,10/10/2020,abuja,no,2020-10-10,0,0,0
38,138,45.0,male,70000.0,400.0,9/20/2021,lagos,yes,2021-09-20,0,0,0
39,139,46.0,female,75000.0,420.0,3/22/2021,port harcourt,no,2021-03-22,0,0,0
40,140,34.0,male,62000.0,260.0,8/12/2019,kano,yes,2019-08-12,0,0,0
41,141,25.0,male,48000.0,180.0,6/1/2021,ibadan,yes,2021-06-01,0,0,0
42,142,29.0,female,61000.0,290.0,NaN,abuja,yes,NaT,0,0,0
43,143,31.0,male,52000.0,150.0,7/24/2021,lagos,no,2021-07-24,0,0,0
44,144,32.0,female,58000.0,230.0,5/15/2021,kaduna,yes,2021-05-15,0,0,0
45,145,22.0,male,32000.0,80.0,1/30/2020,port harcourt,yes,2020-01-30,0,0,0
46,146,29.0,female,65000.0,300.0,8/18/2021,lagos,no,2021-08-18,1,0,0
47,147,30.0,male,55000.0,200.0,9/10/2020,abuja,yes,2020-09-10,0,1,0
48,148,33.0,female,53000.0,210.0,2/27/2021,ibadan,yes,2021-02-27,0,0,0
49,149,31.0,nan,62000.0,250.0,4/6/2021,lagos,no,2021-04-06,0,0,0
50,150,24.0,male,41000.0,190.0,12/30/2020,abuja,yes,2020-12-30,0,0,0

In [ ]:
df['Gender']

0       male
1     female
2       male
3     female
4        nan
5       male
6     female
7     female
8       male
9     female
10      male
11    female
12      male
13    female
14    female
16      male
17       nan
18      male
19    female
20      male
21    female
22      male
23    female
24    female
25       nan
26    female
27    female
28      male
29      male
30    female
31      male
32    female
33      male
34      male
35    female
36    female
37    female
38      male
39    female
40      male
41      male
42    female
43      male
44    female
45      male
46    female
47      male
48    female
49       nan
50      male
Name: Gender, dtype: object

In [ ]:
df['Gender'] = df['Gender'].fillna(df['Gender'].mode()[0])

In [ ]:
df['Gender']= df['Gender'].replace('nan', df['Gender'].mode()[0])
df['Gender']

0       male
1     female
2       male
3     female
4     female
5       male
6     female
7     female
8       male
9     female
10      male
11    female
12      male
13    female
14    female
16      male
17    female
18      male
19    female
20      male
21    female
22      male
23    female
24    female
25    female
26    female
27    female
28      male
29      male
30    female
31      male
32    female
33      male
34      male
35    female
36    female
37    female
38      male
39    female
40      male
41      male
42    female
43      male
44    female
45      male
46    female
47      male
48    female
49    female
50      male
Name: Gender, dtype: object

In [ ]:
df

,CustomerID,Age,Gender,Income,PurchaseAmount,JoinDate,Location,IsMember,JoinDate_Parsed,Age_was_missing,Income_was_missing,PurchaseAmount_was_missing
0,101,25.0,male,45000.0,120.0,5/10/2021,lagos,yes,2021-05-10,0,0,0
1,102,29.0,female,52000.0,220.0,7/13/2020,abuja,no,2020-07-13,1,0,0
2,103,33.0,male,55000.0,310.0,13-08-2022,lagos,yes,NaT,0,1,0
3,104,29.0,female,58000.0,215.0,9/21/2021,port harcourt,no,2021-09-21,1,0,1
4,105,28.0,female,47000.0,150.0,12/2/2021,kaduna,yes,2021-12-02,0,0,0
5,106,22.0,male,38000.0,90.0,1/17/2020,lagos,yes,2020-01-17,0,0,0
6,107,31.0,female,62000.0,5000.0,11/11/2019,abuja,no,2019-11-11,0,0,0
7,108,29.0,female,54000.0,180.0,4/25/2021,ibadan,yes,2021-04-25,0,0,0
8,109,27.0,male,49000.0,160.0,7/18/2020,ibadan,no,2020-07-18,0,0,0
9,110,35.0,female,61000.0,200.0,2022-02-30,lagos,yes,NaT,0,0,0
10,111,26.0,male,45000.0,130.0,5/5/2020,kano,no,2020-05-05,0,0,0
11,112,29.0,female,58000.0,300.0,8/19/2021,kaduna,yes,2021-08-19,1,0,0
12,113,44.0,male,150000.0,800.0,3/12/2019,lagos,yes,2019-03-12,0,0,0
13,114,31.0,female,60000.0,250.0,6/21/2019,abuja,no,2019-06-21,0,0,0
14,115,29.0,female,58000.0,260.0,11/3/2021,abuja,no,2021-11-03,0,0,0
16,116,18.0,male,22000.0,70.0,1/14/2022,kano,yes,2022-01-14,0,0,0
17,117,21.0,female,30000.0,50000.0,7/22/2021,lagos,no,2021-07-22,0,0,0
18,118,29.0,male,55000.0,140.0,12/18/2020,port harcourt,yes,2020-12-18,0,1,0
19,119,32.0,female,67000.0,215.0,9/5/2021,abuja,yes,2021-09-05,0,0,1
20,120,29.0,male,50000.0,210.0,1/25/2021,lagos,yes,2021-01-25,1,0,0
21,121,27.0,female,49000.0,8000.0,2/20/2019,kaduna,no,2019-02-20,0,0,0
22,122,31.0,male,51000.0,160.0,3/1/2020,abuja,yes,2020-03-01,0,0,0
23,123,29.0,female,62000.0,260.0,6/16/2020,lagos,no,2020-06-16,1,0,0
24,124,29.0,female,59000.0,240.0,10/28/2021,kaduna,yes,2021-10-28,0,0,0
25,125,35.0,female,65000.0,450.0,4/12/2021,ibadan,yes,2021-04-12,0,0,0
26,126,24.0,female,27000.0,100.0,8/9/2020,abuja,yes,2020-08-09,0,0,0
27,127,23.0,female,28000.0,110.0,3/17/2022,kano,no,2022-03-17,0,0,0
28,128,40.0,male,95000.0,350.0,9/25/2019,port harcourt,yes,2019-09-25,0,0,0
29,129,22.0,male,300000.0,160.0,7/19/2021,abuja,yes,2021-07-19,0,0,0
30,130,31.0,female,56000.0,280.0,11/11/2020,lagos,no,2020-11-11,0,0,0
31,131,28.0,male,51000.0,270.0,13-07-2021,kaduna,yes,NaT,0,0,0
32,132,26.0,female,47000.0,150.0,12/4/2021,kaduna,no,2021-12-04,0,0,0
33,133,33.0,male,49000.0,215.0,4/26/2020,abuja,yes,2020-04-26,0,0,1
34,134,27.0,male,55000.0,190.0,2/21/2021,lagos,yes,2021-02-21,0,1,0
35,135,31.0,female,60000.0,215.0,5/14/2021,nan,no,2021-05-14,0,0,1
36,136,29.0,female,61000.0,310.0,1/18/2022,abuja,yes,2022-01-18,0,0,0
37,137,28.0,female,43000.0,200.0,10/10/2020,abuja,no,2020-10-10,0,0,0
38,138,45.0,male,70000.0,400.0,9/20/2021,lagos,yes,2021-09-20,0,0,0
39,139,46.0,female,75000.0,420.0,3/22/2021,port harcourt,no,2021-03-22,0,0,0
40,140,34.0,male,62000.0,260.0,8/12/2019,kano,yes,2019-08-12,0,0,0
41,141,25.0,male,48000.0,180.0,6/1/2021,ibadan,yes,2021-06-01,0,0,0
42,142,29.0,female,61000.0,290.0,NaN,abuja,yes,NaT,0,0,0
43,143,31.0,male,52000.0,150.0,7/24/2021,lagos,no,2021-07-24,0,0,0
44,144,32.0,female,58000.0,230.0,5/15/2021,kaduna,yes,2021-05-15,0,0,0
45,145,22.0,male,32000.0,80.0,1/30/2020,port harcourt,yes,2020-01-30,0,0,0
46,146,29.0,female,65000.0,300.0,8/18/2021,lagos,no,2021-08-18,1,0,0
47,147,30.0,male,55000.0,200.0,9/10/2020,abuja,yes,2020-09-10,0,1,0
48,148,33.0,female,53000.0,210.0,2/27/2021,ibadan,yes,2021-02-27,0,0,0
49,149,31.0,female,62000.0,250.0,4/6/2021,lagos,no,2021-04-06,0,0,0
50,150,24.0,male,41000.0,190.0,12/30/2020,abuja,yes,2020-12-30,0,0,0

In [ ]:
gender = df['Gender'] = df['Gender'].fillna(df['Gender'].mode()[0])
#df['Location'] = df['Location'].fillna(df['Location'].mode()[0], inplace = True)
gender

/tmp/ipython-input-2316473549.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  gender = df['Gender'] = df['Gender'].fillna(df['Gender'].mode()[0], inplace = True)
/tmp/ipython-input-2316473549.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gender = df['Gender'] = df['Gender'].fillna(df['Gender'].mode()[0], inplace = True)
/tmp/ipython-input-2316473549.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gender = df['Gender'] = df['Gender'].fillna(df['Gender'].mode()[0], inplace = True)

In [ ]:
df

,CustomerID,Age,Gender,Income,PurchaseAmount,JoinDate,Location,IsMember,JoinDate_Parsed,Age_was_missing,Income_was_missing,PurchaseAmount_was_missing
0,101,25.0,male,45000.0,120.0,5/10/2021,lagos,yes,2021-05-10,0,0,0
1,102,29.0,female,52000.0,220.0,7/13/2020,abuja,no,2020-07-13,1,0,0
2,103,33.0,male,55000.0,310.0,13-08-2022,lagos,yes,NaT,0,1,0
3,104,29.0,female,58000.0,215.0,9/21/2021,port harcourt,no,2021-09-21,1,0,1
4,105,28.0,female,47000.0,150.0,12/2/2021,kaduna,yes,2021-12-02,0,0,0
5,106,22.0,male,38000.0,90.0,1/17/2020,lagos,yes,2020-01-17,0,0,0
6,107,31.0,female,62000.0,5000.0,11/11/2019,abuja,no,2019-11-11,0,0,0
7,108,29.0,female,54000.0,180.0,4/25/2021,ibadan,yes,2021-04-25,0,0,0
8,109,27.0,male,49000.0,160.0,7/18/2020,ibadan,no,2020-07-18,0,0,0
9,110,35.0,female,61000.0,200.0,2022-02-30,lagos,yes,NaT,0,0,0
10,111,26.0,male,45000.0,130.0,5/5/2020,kano,no,2020-05-05,0,0,0
11,112,29.0,female,58000.0,300.0,8/19/2021,kaduna,yes,2021-08-19,1,0,0
12,113,44.0,male,150000.0,800.0,3/12/2019,lagos,yes,2019-03-12,0,0,0
13,114,31.0,female,60000.0,250.0,6/21/2019,abuja,no,2019-06-21,0,0,0
14,115,29.0,female,58000.0,260.0,11/3/2021,abuja,no,2021-11-03,0,0,0
16,116,18.0,male,22000.0,70.0,1/14/2022,kano,yes,2022-01-14,0,0,0
17,117,21.0,female,30000.0,50000.0,7/22/2021,lagos,no,2021-07-22,0,0,0
18,118,29.0,male,55000.0,140.0,12/18/2020,port harcourt,yes,2020-12-18,0,1,0
19,119,32.0,female,67000.0,215.0,9/5/2021,abuja,yes,2021-09-05,0,0,1
20,120,29.0,male,50000.0,210.0,1/25/2021,lagos,yes,2021-01-25,1,0,0
21,121,27.0,female,49000.0,8000.0,2/20/2019,kaduna,no,2019-02-20,0,0,0
22,122,31.0,male,51000.0,160.0,3/1/2020,abuja,yes,2020-03-01,0,0,0
23,123,29.0,female,62000.0,260.0,6/16/2020,lagos,no,2020-06-16,1,0,0
24,124,29.0,female,59000.0,240.0,10/28/2021,kaduna,yes,2021-10-28,0,0,0
25,125,35.0,female,65000.0,450.0,4/12/2021,ibadan,yes,2021-04-12,0,0,0
26,126,24.0,female,27000.0,100.0,8/9/2020,abuja,yes,2020-08-09,0,0,0
27,127,23.0,female,28000.0,110.0,3/17/2022,kano,no,2022-03-17,0,0,0
28,128,40.0,male,95000.0,350.0,9/25/2019,port harcourt,yes,2019-09-25,0,0,0
29,129,22.0,male,300000.0,160.0,7/19/2021,abuja,yes,2021-07-19,0,0,0
30,130,31.0,female,56000.0,280.0,11/11/2020,lagos,no,2020-11-11,0,0,0
31,131,28.0,male,51000.0,270.0,13-07-2021,kaduna,yes,NaT,0,0,0
32,132,26.0,female,47000.0,150.0,12/4/2021,kaduna,no,2021-12-04,0,0,0
33,133,33.0,male,49000.0,215.0,4/26/2020,abuja,yes,2020-04-26,0,0,1
34,134,27.0,male,55000.0,190.0,2/21/2021,lagos,yes,2021-02-21,0,1,0
35,135,31.0,female,60000.0,215.0,5/14/2021,nan,no,2021-05-14,0,0,1
36,136,29.0,female,61000.0,310.0,1/18/2022,abuja,yes,2022-01-18,0,0,0
37,137,28.0,female,43000.0,200.0,10/10/2020,abuja,no,2020-10-10,0,0,0
38,138,45.0,male,70000.0,400.0,9/20/2021,lagos,yes,2021-09-20,0,0,0
39,139,46.0,female,75000.0,420.0,3/22/2021,port harcourt,no,2021-03-22,0,0,0
40,140,34.0,male,62000.0,260.0,8/12/2019,kano,yes,2019-08-12,0,0,0
41,141,25.0,male,48000.0,180.0,6/1/2021,ibadan,yes,2021-06-01,0,0,0
42,142,29.0,female,61000.0,290.0,NaN,abuja,yes,NaT,0,0,0
43,143,31.0,male,52000.0,150.0,7/24/2021,lagos,no,2021-07-24,0,0,0
44,144,32.0,female,58000.0,230.0,5/15/2021,kaduna,yes,2021-05-15,0,0,0
45,145,22.0,male,32000.0,80.0,1/30/2020,port harcourt,yes,2020-01-30,0,0,0
46,146,29.0,female,65000.0,300.0,8/18/2021,lagos,no,2021-08-18,1,0,0
47,147,30.0,male,55000.0,200.0,9/10/2020,abuja,yes,2020-09-10,0,1,0
48,148,33.0,female,53000.0,210.0,2/27/2021,ibadan,yes,2021-02-27,0,0,0
49,149,31.0,female,62000.0,250.0,4/6/2021,lagos,no,2021-04-06,0,0,0
50,150,24.0,male,41000.0,190.0,12/30/2020,abuja,yes,2020-12-30,0,0,0

In [ ]:
df.describe()

,CustomerID,Age,Income,PurchaseAmount,JoinDate_Parsed,Age_was_missing,Income_was_missing,PurchaseAmount_was_missing
count,50.0,50.000000,50.00000,50.00000,46,50.000000,50.000000,50.000000
mean,125.5,29.600000,60160.00000,1476.80000,2020-12-24 15:39:07.826086912,0.120000,0.080000,0.080000
min,101.0,18.000000,22000.00000,70.00000,2019-02-20 00:00:00,0.000000,0.000000,0.000000
25%,113.25,27.000000,48250.00000,160.00000,2020-06-22 18:00:00,0.000000,0.000000,0.000000
50%,125.5,29.000000,55000.00000,215.00000,2021-03-10 12:00:00,0.000000,0.000000,0.000000
75%,137.75,31.000000,61000.00000,287.50000,2021-08-11 18:00:00,0.000000,0.000000,0.000000
max,150.0,46.000000,300000.00000,50000.00000,2022-03-17 00:00:00,1.000000,1.000000,1.000000
std,14.57738,5.620662,39290.83603,7118.69569,NaN,0.328261,0.274048,0.274048

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 0 to 50
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   CustomerID                  50 non-null     Int64
 1   Age                         50 non-null     float64
 2   Gender                      50 non-null     object
 3   Income                      50 non-null     float64
 4   PurchaseAmount              50 non-null     float64
 5   JoinDate                    49 non-null     object
 6   Location                    50 non-null     object
 7   IsMember                    50 non-null     object
 8   JoinDate_Parsed             50 non-null     datetime64[ns]
 9   Age_was_missing             50 non-null     int64
 10  Income_was_missing          50 non-null     int64
 11  PurchaseAmount_was_missing  50 non-null     int64
dtypes: Int64(1), datetime64[ns](1), float64(3), int64(3), object(4)
memory usage: 5.1+ KB

In [ ]:
df.drop(columns = 'JoinDate')

,CustomerID,Age,Gender,Income,PurchaseAmount,Location,IsMember,JoinDate_Parsed,Age_was_missing,Income_was_missing,PurchaseAmount_was_missing
0,101,25.0,male,45000.0,120.0,lagos,yes,2021-05-10 00:00:00,0,0,0
1,102,29.0,female,52000.0,220.0,abuja,no,2020-07-13 00:00:00,1,0,0
2,103,33.0,male,55000.0,310.0,lagos,yes,2021-03-10 12:00:00,0,1,0
3,104,29.0,female,58000.0,215.0,port harcourt,no,2021-09-21 00:00:00,1,0,1
4,105,28.0,female,47000.0,150.0,kaduna,yes,2021-12-02 00:00:00,0,0,0
5,106,22.0,male,38000.0,90.0,lagos,yes,2020-01-17 00:00:00,0,0,0
6,107,31.0,female,62000.0,5000.0,abuja,no,2019-11-11 00:00:00,0,0,0
7,108,29.0,female,54000.0,180.0,ibadan,yes,2021-04-25 00:00:00,0,0,0
8,109,27.0,male,49000.0,160.0,ibadan,no,2020-07-18 00:00:00,0,0,0
9,110,35.0,female,61000.0,200.0,lagos,yes,2021-03-10 12:00:00,0,0,0
10,111,26.0,male,45000.0,130.0,kano,no,2020-05-05 00:00:00,0,0,0
11,112,29.0,female,58000.0,300.0,kaduna,yes,2021-08-19 00:00:00,1,0,0
12,113,44.0,male,150000.0,800.0,lagos,yes,2019-03-12 00:00:00,0,0,0
13,114,31.0,female,60000.0,250.0,abuja,no,2019-06-21 00:00:00,0,0,0
14,115,29.0,female,58000.0,260.0,abuja,no,2021-11-03 00:00:00,0,0,0
16,116,18.0,male,22000.0,70.0,kano,yes,2022-01-14 00:00:00,0,0,0
17,117,21.0,female,30000.0,50000.0,lagos,no,2021-07-22 00:00:00,0,0,0
18,118,29.0,male,55000.0,140.0,port harcourt,yes,2020-12-18 00:00:00,0,1,0
19,119,32.0,female,67000.0,215.0,abuja,yes,2021-09-05 00:00:00,0,0,1
20,120,29.0,male,50000.0,210.0,lagos,yes,2021-01-25 00:00:00,1,0,0
21,121,27.0,female,49000.0,8000.0,kaduna,no,2019-02-20 00:00:00,0,0,0
22,122,31.0,male,51000.0,160.0,abuja,yes,2020-03-01 00:00:00,0,0,0
23,123,29.0,female,62000.0,260.0,lagos,no,2020-06-16 00:00:00,1,0,0
24,124,29.0,female,59000.0,240.0,kaduna,yes,2021-10-28 00:00:00,0,0,0
25,125,35.0,female,65000.0,450.0,ibadan,yes,2021-04-12 00:00:00,0,0,0
26,126,24.0,female,27000.0,100.0,abuja,yes,2020-08-09 00:00:00,0,0,0
27,127,23.0,female,28000.0,110.0,kano,no,2022-03-17 00:00:00,0,0,0
28,128,40.0,male,95000.0,350.0,port harcourt,yes,2019-09-25 00:00:00,0,0,0
29,129,22.0,male,300000.0,160.0,abuja,yes,2021-07-19 00:00:00,0,0,0
30,130,31.0,female,56000.0,280.0,lagos,no,2020-11-11 00:00:00,0,0,0
31,131,28.0,male,51000.0,270.0,kaduna,yes,2021-03-10 12:00:00,0,0,0
32,132,26.0,female,47000.0,150.0,kaduna,no,2021-12-04 00:00:00,0,0,0
33,133,33.0,male,49000.0,215.0,abuja,yes,2020-04-26 00:00:00,0,0,1
34,134,27.0,male,55000.0,190.0,lagos,yes,2021-02-21 00:00:00,0,1,0
35,135,31.0,female,60000.0,215.0,nan,no,2021-05-14 00:00:00,0,0,1
36,136,29.0,female,61000.0,310.0,abuja,yes,2022-01-18 00:00:00,0,0,0
37,137,28.0,female,43000.0,200.0,abuja,no,2020-10-10 00:00:00,0,0,0
38,138,45.0,male,70000.0,400.0,lagos,yes,2021-09-20 00:00:00,0,0,0
39,139,46.0,female,75000.0,420.0,port harcourt,no,2021-03-22 00:00:00,0,0,0
40,140,34.0,male,62000.0,260.0,kano,yes,2019-08-12 00:00:00,0,0,0
41,141,25.0,male,48000.0,180.0,ibadan,yes,2021-06-01 00:00:00,0,0,0
42,142,29.0,female,61000.0,290.0,abuja,yes,2021-03-10 12:00:00,0,0,0
43,143,31.0,male,52000.0,150.0,lagos,no,2021-07-24 00:00:00,0,0,0
44,144,32.0,female,58000.0,230.0,kaduna,yes,2021-05-15 00:00:00,0,0,0
45,145,22.0,male,32000.0,80.0,port harcourt,yes,2020-01-30 00:00:00,0,0,0
46,146,29.0,female,65000.0,300.0,lagos,no,2021-08-18 00:00:00,1,0,0
47,147,30.0,male,55000.0,200.0,abuja,yes,2020-09-10 00:00:00,0,1,0
48,148,33.0,female,53000.0,210.0,ibadan,yes,2021-02-27 00:00:00,0,0,0
49,149,31.0,female,62000.0,250.0,lagos,no,2021-04-06 00:00:00,0,0,0
50,150,24.0,male,41000.0,190.0,abuja,yes,2020-12-30 00:00:00,0,0,0

In [ ]:
df['JoinDate_Parsed'] = df['JoinDate_Parsed'].fillna(df['JoinDate_Parsed'].median())

In [ ]:
for col in ['Income', 'PurchaseAmount']:
  lower = df[col].quantile(0.05)
  upper = df[col].quantile(0.95)
  df[col] = np.clip(df[col], lower, upper)

In [ ]:
df['Membershipdays'] = (pd.to_datetime('today') - df['JoinDate_Parsed']).dt.days

In [ ]:
df

,CustomerID,Age,Gender,Income,PurchaseAmount,JoinDate,Location,IsMember,JoinDate_Parsed,Age_was_missing,Income_was_missing,PurchaseAmount_was_missing,Membershipdays
0,101,25.0,male,45000.0,120.0,5/10/2021,lagos,yes,2021-05-10 00:00:00,0,0,0,1662
1,102,29.0,female,52000.0,220.0,7/13/2020,abuja,no,2020-07-13 00:00:00,1,0,0,1963
2,103,33.0,male,55000.0,310.0,13-08-2022,lagos,yes,2021-03-10 12:00:00,0,1,0,1723
3,104,29.0,female,58000.0,215.0,9/21/2021,port harcourt,no,2021-09-21 00:00:00,1,0,1,1528
4,105,28.0,female,47000.0,150.0,12/2/2021,kaduna,yes,2021-12-02 00:00:00,0,0,0,1456
5,106,22.0,male,38000.0,94.5,1/17/2020,lagos,yes,2020-01-17 00:00:00,0,0,0,2141
6,107,31.0,female,62000.0,3110.0,11/11/2019,abuja,no,2019-11-11 00:00:00,0,0,0,2208
7,108,29.0,female,54000.0,180.0,4/25/2021,ibadan,yes,2021-04-25 00:00:00,0,0,0,1677
8,109,27.0,male,49000.0,160.0,7/18/2020,ibadan,no,2020-07-18 00:00:00,0,0,0,1958
9,110,35.0,female,61000.0,200.0,2022-02-30,lagos,yes,2021-03-10 12:00:00,0,0,0,1723
10,111,26.0,male,45000.0,130.0,5/5/2020,kano,no,2020-05-05 00:00:00,0,0,0,2032
11,112,29.0,female,58000.0,300.0,8/19/2021,kaduna,yes,2021-08-19 00:00:00,1,0,0,1561
12,113,44.0,male,86000.0,800.0,3/12/2019,lagos,yes,2019-03-12 00:00:00,0,0,0,2452
13,114,31.0,female,60000.0,250.0,6/21/2019,abuja,no,2019-06-21 00:00:00,0,0,0,2351
14,115,29.0,female,58000.0,260.0,11/3/2021,abuja,no,2021-11-03 00:00:00,0,0,0,1485
16,116,18.0,male,28900.0,94.5,1/14/2022,kano,yes,2022-01-14 00:00:00,0,0,0,1413
17,117,21.0,female,30000.0,3110.0,7/22/2021,lagos,no,2021-07-22 00:00:00,0,0,0,1589
18,118,29.0,male,55000.0,140.0,12/18/2020,port harcourt,yes,2020-12-18 00:00:00,0,1,0,1805
19,119,32.0,female,67000.0,215.0,9/5/2021,abuja,yes,2021-09-05 00:00:00,0,0,1,1544
20,120,29.0,male,50000.0,210.0,1/25/2021,lagos,yes,2021-01-25 00:00:00,1,0,0,1767
21,121,27.0,female,49000.0,3110.0,2/20/2019,kaduna,no,2019-02-20 00:00:00,0,0,0,2472
22,122,31.0,male,51000.0,160.0,3/1/2020,abuja,yes,2020-03-01 00:00:00,0,0,0,2097
23,123,29.0,female,62000.0,260.0,6/16/2020,lagos,no,2020-06-16 00:00:00,1,0,0,1990
24,124,29.0,female,59000.0,240.0,10/28/2021,kaduna,yes,2021-10-28 00:00:00,0,0,0,1491
25,125,35.0,female,65000.0,450.0,4/12/2021,ibadan,yes,2021-04-12 00:00:00,0,0,0,1690
26,126,24.0,female,28900.0,100.0,8/9/2020,abuja,yes,2020-08-09 00:00:00,0,0,0,1936
27,127,23.0,female,28900.0,110.0,3/17/2022,kano,no,2022-03-17 00:00:00,0,0,0,1351
28,128,40.0,male,86000.0,350.0,9/25/2019,port harcourt,yes,2019-09-25 00:00:00,0,0,0,2255
29,129,22.0,male,86000.0,160.0,7/19/2021,abuja,yes,2021-07-19 00:00:00,0,0,0,1592
30,130,31.0,female,56000.0,280.0,11/11/2020,lagos,no,2020-11-11 00:00:00,0,0,0,1842
31,131,28.0,male,51000.0,270.0,13-07-2021,kaduna,yes,2021-03-10 12:00:00,0,0,0,1723
32,132,26.0,female,47000.0,150.0,12/4/2021,kaduna,no,2021-12-04 00:00:00,0,0,0,1454
33,133,33.0,male,49000.0,215.0,4/26/2020,abuja,yes,2020-04-26 00:00:00,0,0,1,2041
34,134,27.0,male,55000.0,190.0,2/21/2021,lagos,yes,2021-02-21 00:00:00,0,1,0,1740
35,135,31.0,female,60000.0,215.0,5/14/2021,nan,no,2021-05-14 00:00:00,0,0,1,1658
36,136,29.0,female,61000.0,310.0,1/18/2022,abuja,yes,2022-01-18 00:00:00,0,0,0,1409
37,137,28.0,female,43000.0,200.0,10/10/2020,abuja,no,2020-10-10 00:00:00,0,0,0,1874
38,138,45.0,male,70000.0,400.0,9/20/2021,lagos,yes,2021-09-20 00:00:00,0,0,0,1529
39,139,46.0,female,75000.0,420.0,3/22/2021,port harcourt,no,2021-03-22 00:00:00,0,0,0,1711
40,140,34.0,male,62000.0,260.0,8/12/2019,kano,yes,2019-08-12 00:00:00,0,0,0,2299
41,141,25.0,male,48000.0,180.0,6/1/2021,ibadan,yes,2021-06-01 00:00:00,0,0,0,1640
42,142,29.0,female,61000.0,290.0,NaN,abuja,yes,2021-03-10 12:00:00,0,0,0,1723
43,143,31.0,male,52000.0,150.0,7/24/2021,lagos,no,2021-07-24 00:00:00,0,0,0,1587
44,144,32.0,female,58000.0,230.0,5/15/2021,kaduna,yes,2021-05-15 00:00:00,0,0,0,1657
45,145,22.0,male,32000.0,94.5,1/30/2020,port harcourt,yes,2020-01-30 00:00:00,0,0,0,2128
46,146,29.0,female,65000.0,300.0,8/18/2021,lagos,no,2021-08-18 00:00:00,1,0,0,1562
47,147,30.0,male,55000.0,200.0,9/10/2020,abuja,yes,2020-09-10 00:00:00,0,1,0,1904
48,148,33.0,female,53000.0,210.0,2/27/2021,ibadan,yes,2021-02-27 00:00:00,0,0,0,1734
49,149,31.0,female,62000.0,250.0,4/6/2021,lagos,no,2021-04-06 00:00:00,0,0,0,1696
50,150,24.0,male,41000.0,190.0,12/30/2020,abuja,yes,2020-12-30 00:00:00,0,0,0,1793

In [ ]:
df

,CustomerID,Age,Gender,Income,PurchaseAmount,JoinDate,Location,IsMember,JoinDate_Parsed,Age_was_missing,Income_was_missing,PurchaseAmount_was_missing,Membershipdays
0,101,25.0,male,34460.0,114.1,5/10/2021,lagos,yes,2021-05-10 00:00:00,0,0,0,1662
1,102,29.0,female,34460.0,114.1,7/13/2020,abuja,no,2020-07-13 00:00:00,1,0,0,1963
2,103,33.0,male,34460.0,114.1,13-08-2022,lagos,yes,2021-03-10 12:00:00,0,1,0,1723
3,104,29.0,female,34460.0,114.1,9/21/2021,port harcourt,no,2021-09-21 00:00:00,1,0,1,1528
4,105,28.0,female,34460.0,114.1,12/2/2021,kaduna,yes,2021-12-02 00:00:00,0,0,0,1456
5,106,22.0,male,34460.0,90.0,1/17/2020,lagos,yes,2020-01-17 00:00:00,0,0,0,2141
6,107,31.0,female,34460.0,114.1,11/11/2019,abuja,no,2019-11-11 00:00:00,0,0,0,2208
7,108,29.0,female,34460.0,114.1,4/25/2021,ibadan,yes,2021-04-25 00:00:00,0,0,0,1677
8,109,27.0,male,34460.0,114.1,7/18/2020,ibadan,no,2020-07-18 00:00:00,0,0,0,1958
9,110,35.0,female,34460.0,114.1,2022-02-30,lagos,yes,2021-03-10 12:00:00,0,0,0,1723
10,111,26.0,male,34460.0,114.1,5/5/2020,kano,no,2020-05-05 00:00:00,0,0,0,2032
11,112,29.0,female,34460.0,114.1,8/19/2021,kaduna,yes,2021-08-19 00:00:00,1,0,0,1561
12,113,44.0,male,34460.0,114.1,3/12/2019,lagos,yes,2019-03-12 00:00:00,0,0,0,2452
13,114,31.0,female,34460.0,114.1,6/21/2019,abuja,no,2019-06-21 00:00:00,0,0,0,2351
14,115,29.0,female,34460.0,114.1,11/3/2021,abuja,no,2021-11-03 00:00:00,0,0,0,1485
16,116,18.0,male,24450.0,74.9,1/14/2022,kano,yes,2022-01-14 00:00:00,0,0,0,1413
17,117,21.0,female,30000.0,114.1,7/22/2021,lagos,no,2021-07-22 00:00:00,0,0,0,1589
18,118,29.0,male,34460.0,114.1,12/18/2020,port harcourt,yes,2020-12-18 00:00:00,0,1,0,1805
19,119,32.0,female,34460.0,114.1,9/5/2021,abuja,yes,2021-09-05 00:00:00,0,0,1,1544
20,120,29.0,male,34460.0,114.1,1/25/2021,lagos,yes,2021-01-25 00:00:00,1,0,0,1767
21,121,27.0,female,34460.0,114.1,2/20/2019,kaduna,no,2019-02-20 00:00:00,0,0,0,2472
22,122,31.0,male,34460.0,114.1,3/1/2020,abuja,yes,2020-03-01 00:00:00,0,0,0,2097
23,123,29.0,female,34460.0,114.1,6/16/2020,lagos,no,2020-06-16 00:00:00,1,0,0,1990
24,124,29.0,female,34460.0,114.1,10/28/2021,kaduna,yes,2021-10-28 00:00:00,0,0,0,1491
25,125,35.0,female,34460.0,114.1,4/12/2021,ibadan,yes,2021-04-12 00:00:00,0,0,0,1690
26,126,24.0,female,27000.0,100.0,8/9/2020,abuja,yes,2020-08-09 00:00:00,0,0,0,1936
27,127,23.0,female,28000.0,110.0,3/17/2022,kano,no,2022-03-17 00:00:00,0,0,0,1351
28,128,40.0,male,34460.0,114.1,9/25/2019,port harcourt,yes,2019-09-25 00:00:00,0,0,0,2255
29,129,22.0,male,34460.0,114.1,7/19/2021,abuja,yes,2021-07-19 00:00:00,0,0,0,1592
30,130,31.0,female,34460.0,114.1,11/11/2020,lagos,no,2020-11-11 00:00:00,0,0,0,1842
31,131,28.0,male,34460.0,114.1,13-07-2021,kaduna,yes,2021-03-10 12:00:00,0,0,0,1723
32,132,26.0,female,34460.0,114.1,12/4/2021,kaduna,no,2021-12-04 00:00:00,0,0,0,1454
33,133,33.0,male,34460.0,114.1,4/26/2020,abuja,yes,2020-04-26 00:00:00,0,0,1,2041
34,134,27.0,male,34460.0,114.1,2/21/2021,lagos,yes,2021-02-21 00:00:00,0,1,0,1740
35,135,31.0,female,34460.0,114.1,5/14/2021,nan,no,2021-05-14 00:00:00,0,0,1,1658
36,136,29.0,female,34460.0,114.1,1/18/2022,abuja,yes,2022-01-18 00:00:00,0,0,0,1409
37,137,28.0,female,34460.0,114.1,10/10/2020,abuja,no,2020-10-10 00:00:00,0,0,0,1874
38,138,45.0,male,34460.0,114.1,9/20/2021,lagos,yes,2021-09-20 00:00:00,0,0,0,1529
39,139,46.0,female,34460.0,114.1,3/22/2021,port harcourt,no,2021-03-22 00:00:00,0,0,0,1711
40,140,34.0,male,34460.0,114.1,8/12/2019,kano,yes,2019-08-12 00:00:00,0,0,0,2299
41,141,25.0,male,34460.0,114.1,6/1/2021,ibadan,yes,2021-06-01 00:00:00,0,0,0,1640
42,142,29.0,female,34460.0,114.1,NaN,abuja,yes,2021-03-10 12:00:00,0,0,0,1723
43,143,31.0,male,34460.0,114.1,7/24/2021,lagos,no,2021-07-24 00:00:00,0,0,0,1587
44,144,32.0,female,34460.0,114.1,5/15/2021,kaduna,yes,2021-05-15 00:00:00,0,0,0,1657
45,145,22.0,male,32000.0,80.0,1/30/2020,port harcourt,yes,2020-01-30 00:00:00,0,0,0,2128
46,146,29.0,female,34460.0,114.1,8/18/2021,lagos,no,2021-08-18 00:00:00,1,0,0,1562
47,147,30.0,male,34460.0,114.1,9/10/2020,abuja,yes,2020-09-10 00:00:00,0,1,0,1904
48,148,33.0,female,34460.0,114.1,2/27/2021,ibadan,yes,2021-02-27 00:00:00,0,0,0,1734
49,149,31.0,female,34460.0,114.1,4/6/2021,lagos,no,2021-04-06 00:00:00,0,0,0,1696
50,150,24.0,male,34460.0,114.1,12/30/2020,abuja,yes,2020-12-30 00:00:00,0,0,0,1793

In [ ]:
df['Purchase_bin'] = pd.cut(df['PurchaseAmount'], bins = [0,100,200,500,1000, np.inf], labels = ['very_low', 'low', 'mid', 'high', 'very_high'])

In [ ]:
df

,CustomerID,Age,Gender,Income,PurchaseAmount,JoinDate,Location,IsMember,JoinDate_Parsed,Age_was_missing,Income_was_missing,PurchaseAmount_was_missing,Membershipdays,Purchase_bin
0,101,25.0,male,45000.0,120.0,5/10/2021,lagos,yes,2021-05-10 00:00:00,0,0,0,1662,low
1,102,29.0,female,52000.0,220.0,7/13/2020,abuja,no,2020-07-13 00:00:00,1,0,0,1963,mid
2,103,33.0,male,55000.0,310.0,13-08-2022,lagos,yes,2021-03-10 12:00:00,0,1,0,1723,mid
3,104,29.0,female,58000.0,215.0,9/21/2021,port harcourt,no,2021-09-21 00:00:00,1,0,1,1528,mid
4,105,28.0,female,47000.0,150.0,12/2/2021,kaduna,yes,2021-12-02 00:00:00,0,0,0,1456,low
5,106,22.0,male,38000.0,94.5,1/17/2020,lagos,yes,2020-01-17 00:00:00,0,0,0,2141,very_low
6,107,31.0,female,62000.0,3110.0,11/11/2019,abuja,no,2019-11-11 00:00:00,0,0,0,2208,very_high
7,108,29.0,female,54000.0,180.0,4/25/2021,ibadan,yes,2021-04-25 00:00:00,0,0,0,1677,low
8,109,27.0,male,49000.0,160.0,7/18/2020,ibadan,no,2020-07-18 00:00:00,0,0,0,1958,low
9,110,35.0,female,61000.0,200.0,2022-02-30,lagos,yes,2021-03-10 12:00:00,0,0,0,1723,low
10,111,26.0,male,45000.0,130.0,5/5/2020,kano,no,2020-05-05 00:00:00,0,0,0,2032,low
11,112,29.0,female,58000.0,300.0,8/19/2021,kaduna,yes,2021-08-19 00:00:00,1,0,0,1561,mid
12,113,44.0,male,86000.0,800.0,3/12/2019,lagos,yes,2019-03-12 00:00:00,0,0,0,2452,high
13,114,31.0,female,60000.0,250.0,6/21/2019,abuja,no,2019-06-21 00:00:00,0,0,0,2351,mid
14,115,29.0,female,58000.0,260.0,11/3/2021,abuja,no,2021-11-03 00:00:00,0,0,0,1485,mid
16,116,18.0,male,28900.0,94.5,1/14/2022,kano,yes,2022-01-14 00:00:00,0,0,0,1413,very_low
17,117,21.0,female,30000.0,3110.0,7/22/2021,lagos,no,2021-07-22 00:00:00,0,0,0,1589,very_high
18,118,29.0,male,55000.0,140.0,12/18/2020,port harcourt,yes,2020-12-18 00:00:00,0,1,0,1805,low
19,119,32.0,female,67000.0,215.0,9/5/2021,abuja,yes,2021-09-05 00:00:00,0,0,1,1544,mid
20,120,29.0,male,50000.0,210.0,1/25/2021,lagos,yes,2021-01-25 00:00:00,1,0,0,1767,mid
21,121,27.0,female,49000.0,3110.0,2/20/2019,kaduna,no,2019-02-20 00:00:00,0,0,0,2472,very_high
22,122,31.0,male,51000.0,160.0,3/1/2020,abuja,yes,2020-03-01 00:00:00,0,0,0,2097,low
23,123,29.0,female,62000.0,260.0,6/16/2020,lagos,no,2020-06-16 00:00:00,1,0,0,1990,mid
24,124,29.0,female,59000.0,240.0,10/28/2021,kaduna,yes,2021-10-28 00:00:00,0,0,0,1491,mid
25,125,35.0,female,65000.0,450.0,4/12/2021,ibadan,yes,2021-04-12 00:00:00,0,0,0,1690,mid
26,126,24.0,female,28900.0,100.0,8/9/2020,abuja,yes,2020-08-09 00:00:00,0,0,0,1936,very_low
27,127,23.0,female,28900.0,110.0,3/17/2022,kano,no,2022-03-17 00:00:00,0,0,0,1351,low
28,128,40.0,male,86000.0,350.0,9/25/2019,port harcourt,yes,2019-09-25 00:00:00,0,0,0,2255,mid
29,129,22.0,male,86000.0,160.0,7/19/2021,abuja,yes,2021-07-19 00:00:00,0,0,0,1592,low
30,130,31.0,female,56000.0,280.0,11/11/2020,lagos,no,2020-11-11 00:00:00,0,0,0,1842,mid
31,131,28.0,male,51000.0,270.0,13-07-2021,kaduna,yes,2021-03-10 12:00:00,0,0,0,1723,mid
32,132,26.0,female,47000.0,150.0,12/4/2021,kaduna,no,2021-12-04 00:00:00,0,0,0,1454,low
33,133,33.0,male,49000.0,215.0,4/26/2020,abuja,yes,2020-04-26 00:00:00,0,0,1,2041,mid
34,134,27.0,male,55000.0,190.0,2/21/2021,lagos,yes,2021-02-21 00:00:00,0,1,0,1740,low
35,135,31.0,female,60000.0,215.0,5/14/2021,nan,no,2021-05-14 00:00:00,0,0,1,1658,mid
36,136,29.0,female,61000.0,310.0,1/18/2022,abuja,yes,2022-01-18 00:00:00,0,0,0,1409,mid
37,137,28.0,female,43000.0,200.0,10/10/2020,abuja,no,2020-10-10 00:00:00,0,0,0,1874,low
38,138,45.0,male,70000.0,400.0,9/20/2021,lagos,yes,2021-09-20 00:00:00,0,0,0,1529,mid
39,139,46.0,female,75000.0,420.0,3/22/2021,port harcourt,no,2021-03-22 00:00:00,0,0,0,1711,mid
40,140,34.0,male,62000.0,260.0,8/12/2019,kano,yes,2019-08-12 00:00:00,0,0,0,2299,mid
41,141,25.0,male,48000.0,180.0,6/1/2021,ibadan,yes,2021-06-01 00:00:00,0,0,0,1640,low
42,142,29.0,female,61000.0,290.0,NaN,abuja,yes,2021-03-10 12:00:00,0,0,0,1723,mid
43,143,31.0,male,52000.0,150.0,7/24/2021,lagos,no,2021-07-24 00:00:00,0,0,0,1587,low
44,144,32.0,female,58000.0,230.0,5/15/2021,kaduna,yes,2021-05-15 00:00:00,0,0,0,1657,mid
45,145,22.0,male,32000.0,94.5,1/30/2020,port harcourt,yes,2020-01-30 00:00:00,0,0,0,2128,very_low
46,146,29.0,female,65000.0,300.0,8/18/2021,lagos,no,2021-08-18 00:00:00,1,0,0,1562,mid
47,147,30.0,male,55000.0,200.0,9/10/2020,abuja,yes,2020-09-10 00:00:00,0,1,0,1904,low
48,148,33.0,female,53000.0,210.0,2/27/2021,ibadan,yes,2021-02-27 00:00:00,0,0,0,1734,mid
49,149,31.0,female,62000.0,250.0,4/6/2021,lagos,no,2021-04-06 00:00:00,0,0,0,1696,mid
50,150,24.0,male,41000.0,190.0,12/30/2020,abuja,yes,2020-12-30 00:00:00,0,0,0,1793,low

In [ ]:
df_ready = pd.get_dummies(df, columns = ['Gender', 'Location', 'IsMember', 'Purchase_bin'], drop_first= True)

In [ ]:
df_ready.drop(columns= 'Location_nan')

,CustomerID,Age,Income,PurchaseAmount,JoinDate,JoinDate_Parsed,Age_was_missing,Income_was_missing,PurchaseAmount_was_missing,Membershipdays,...,Location_ibadan,Location_kaduna,Location_kano,Location_lagos,Location_port harcourt,IsMember_yes,Purchase_bin_low,Purchase_bin_mid,Purchase_bin_high,Purchase_bin_very_high
0,101,25.0,45000.0,120.0,5/10/2021,2021-05-10 00:00:00,0,0,0,1662,...,False,False,False,True,False,True,True,False,False,False
1,102,29.0,52000.0,220.0,7/13/2020,2020-07-13 00:00:00,1,0,0,1963,...,False,False,False,False,False,False,False,True,False,False
2,103,33.0,55000.0,310.0,13-08-2022,2021-03-10 12:00:00,0,1,0,1723,...,False,False,False,True,False,True,False,True,False,False
3,104,29.0,58000.0,215.0,9/21/2021,2021-09-21 00:00:00,1,0,1,1528,...,False,False,False,False,True,False,False,True,False,False
4,105,28.0,47000.0,150.0,12/2/2021,2021-12-02 00:00:00,0,0,0,1456,...,False,True,False,False,False,True,True,False,False,False
5,106,22.0,38000.0,94.5,1/17/2020,2020-01-17 00:00:00,0,0,0,2141,...,False,False,False,True,False,True,False,False,False,False
6,107,31.0,62000.0,3110.0,11/11/2019,2019-11-11 00:00:00,0,0,0,2208,...,False,False,False,False,False,False,False,False,False,True
7,108,29.0,54000.0,180.0,4/25/2021,2021-04-25 00:00:00,0,0,0,1677,...,True,False,False,False,False,True,True,False,False,False
8,109,27.0,49000.0,160.0,7/18/2020,2020-07-18 00:00:00,0,0,0,1958,...,True,False,False,False,False,False,True,False,False,False
9,110,35.0,61000.0,200.0,2022-02-30,2021-03-10 12:00:00,0,0,0,1723,...,False,False,False,True,False,True,True,False,False,False
10,111,26.0,45000.0,130.0,5/5/2020,2020-05-05 00:00:00,0,0,0,2032,...,False,False,True,False,False,False,True,False,False,False
11,112,29.0,58000.0,300.0,8/19/2021,2021-08-19 00:00:00,1,0,0,1561,...,False,True,False,False,False,True,False,True,False,False
12,113,44.0,86000.0,800.0,3/12/2019,2019-03-12 00:00:00,0,0,0,2452,...,False,False,False,True,False,True,False,False,True,False
13,114,31.0,60000.0,250.0,6/21/2019,2019-06-21 00:00:00,0,0,0,2351,...,False,False,False,False,False,False,False,True,False,False
14,115,29.0,58000.0,260.0,11/3/2021,2021-11-03 00:00:00,0,0,0,1485,...,False,False,False,False,False,False,False,True,False,False
16,116,18.0,28900.0,94.5,1/14/2022,2022-01-14 00:00:00,0,0,0,1413,...,False,False,True,False,False,True,False,False,False,False
17,117,21.0,30000.0,3110.0,7/22/2021,2021-07-22 00:00:00,0,0,0,1589,...,False,False,False,True,False,False,False,False,False,True
18,118,29.0,55000.0,140.0,12/18/2020,2020-12-18 00:00:00,0,1,0,1805,...,False,False,False,False,True,True,True,False,False,False
19,119,32.0,67000.0,215.0,9/5/2021,2021-09-05 00:00:00,0,0,1,1544,...,False,False,False,False,False,True,False,True,False,False
20,120,29.0,50000.0,210.0,1/25/2021,2021-01-25 00:00:00,1,0,0,1767,...,False,False,False,True,False,True,False,True,False,False
21,121,27.0,49000.0,3110.0,2/20/2019,2019-02-20 00:00:00,0,0,0,2472,...,False,True,False,False,False,False,False,False,False,True
22,122,31.0,51000.0,160.0,3/1/2020,2020-03-01 00:00:00,0,0,0,2097,...,False,False,False,False,False,True,True,False,False,False
23,123,29.0,62000.0,260.0,6/16/2020,2020-06-16 00:00:00,1,0,0,1990,...,False,False,False,True,False,False,False,True,False,False
24,124,29.0,59000.0,240.0,10/28/2021,2021-10-28 00:00:00,0,0,0,1491,...,False,True,False,False,False,True,False,True,False,False
25,125,35.0,65000.0,450.0,4/12/2021,2021-04-12 00:00:00,0,0,0,1690,...,True,False,False,False,False,True,False,True,False,False
26,126,24.0,28900.0,100.0,8/9/2020,2020-08-09 00:00:00,0,0,0,1936,...,False,False,False,False,False,True,False,False,False,False
27,127,23.0,28900.0,110.0,3/17/2022,2022-03-17 00:00:00,0,0,0,1351,...,False,False,True,False,False,False,True,False,False,False
28,128,40.0,86000.0,350.0,9/25/2019,2019-09-25 00:00:00,0,0,0,2255,...,False,False,False,False,True,True,False,True,False,False
29,129,22.0,86000.0,160.0,7/19/2021,2021-07-19 00:00:00,0,0,0,1592,...,False,False,False,False,False,True,True,False,False,False
30,130,31.0,56000.0,280.0,11/11/2020,2020-11-11 00:00:00,0,0,0,1842,...,False,False,False,True,False,False,False,True,False,False
31,131,28.0,51000.0,270.0,13-07-2021,2021-03-10 12:00:00,0,0,0,1723,...,False,True,False,False,False,True,False,True,False,False
32,132,26.0,47000.0,150.0,12/4/2021,2021-12-04 00:00:00,0,0,0,1454,...,False,True,False,False,False,False,True,False,False,False
33,133,33.0,49000.0,215.0,4/26/2020,2020-04-26 00:00:00,0,0,1,2041,...,False,False,False,False,False,True,False,True,False,False
34,134,27.0,55000.0,190.0,2/21/2021,2021-02-21 00:00:00,0,1,0,1740,...,False,False,False,True,False,True,True,False,False,False
35,135,31.0,60000.0,215.0,5/14/2021,2021-05-14 00:00:00,0,0,1,1658,...,False,False,False,False,False,False,False,True,False,False
36,136,29.0,61000.0,310.0,1/18/2022,2022-01-18 00:00:00,0,0,0,1409,...,False,False,False,False,False,True,False,True,False,False
37,137,28.0,43000.0,200.0,10/10/2020,2020-10-10 00:00:00,0,0,0,1874,...,False,False,False,False,False,False,True,False,False,False
38,138,45.0,70000.0,400.0,9/20/2021,2021-09-20 00:00:00,0,0,0,1529,...,False,False,False,True,False,True,False,True,False,False
39,139,46.0,75000.0,420.0,3/22/2021,2021-03-22 00:00:00,0,0,0,1711,...,False,False,False,False,True,False,False,True,False,False
40,140,34.0,62000.0,260.0,8/12/2019,2019-08-12 00:00:00,0,0,0,2299,...,False,False,True,False,False,True,False,True,False,False
41,141,25.0,48000.0,180.0,6/1/2021,2021-06-01 00:00:00,0,0,0,1640,...,True,False,False,False,False,True,True,False,False,False
42,142,29.0,61000.0,290.0,NaN,2021-03-10 12:00:00,0,0,0,1723,...,False,False,False,False,False,True,False,True,False,False
43,143,31.0,52000.0,150.0,7/24/2021,2021-07-24 00:00:00,0,0,0,1587,...,False,False,False,True,False,False,True,False,False,False
44,144,32.0,58000.0,230.0,5/15/2021,2021-05-15 00:00:00,0,0,0,1657,...,False,True,False,False,False,True,False,True,False,False
45,145,22.0,32000.0,94.5,1/30/2020,2020-01-30 00:00:00,0,0,0,2128,...,False,False,False,False,True,True,False,False,False,False
46,146,29.0,65000.0,300.0,8/18/2021,2021-08-18 00:00:00,1,0,0,1562,...,False,False,False,True,False,False,False,True,False,False
47,147,30.0,55000.0,200.0,9/10/2020,2020-09-10 00:00:00,0,1,0,1904,...,False,False,False,False,False,True,True,False,False,False
48,148,33.0,53000.0,210.0,2/27/2021,2021-02-27 00:00:00,0,0,0,1734,...,True,False,False,False,False,True,False,True,False,False
49,149,31.0,62000.0,250.0,4/6/2021,2021-04-06 00:00:00,0,0,0,1696,...,False,False,False,True,False,False,False,True,False,False
50,150,24.0,41000.0,190.0,12/30/2020,2020-12-30 00:00:00,0,0,0,1793,...,False,False,False,False,False,True,True,False,False,False

In [ ]:
df_ready.columns

Index(['CustomerID', 'Age', 'Income', 'PurchaseAmount', 'JoinDate',
       'JoinDate_Parsed', 'Age_was_missing', 'Income_was_missing',
       'PurchaseAmount_was_missing', 'Membershipdays', 'Gender_male',
       'Location_ibadan', 'Location_kaduna', 'Location_kano', 'Location_lagos',
       'Location_nan', 'Location_port harcourt', 'IsMember_yes',
       'Purchase_bin_low', 'Purchase_bin_mid', 'Purchase_bin_high',
       'Purchase_bin_very_high'],
      dtype='object')

In [ ]:
x = df_ready.drop(columns = ['Income', 'JoinDate_Parsed', 'JoinDate', 'CustomerID'])

In [ ]:
y = df_ready['Income']

In [ ]:
x

,Age,PurchaseAmount,Age_was_missing,Income_was_missing,PurchaseAmount_was_missing,Membershipdays,Gender_male,Location_ibadan,Location_kaduna,Location_kano,Location_lagos,Location_nan,Location_port harcourt,IsMember_yes,Purchase_bin_low,Purchase_bin_mid,Purchase_bin_high,Purchase_bin_very_high
0,25.0,120.0,0,0,0,1662,True,False,False,False,True,False,False,True,True,False,False,False
1,29.0,220.0,1,0,0,1963,False,False,False,False,False,False,False,False,False,True,False,False
2,33.0,310.0,0,1,0,1723,True,False,False,False,True,False,False,True,False,True,False,False
3,29.0,215.0,1,0,1,1528,False,False,False,False,False,False,True,False,False,True,False,False
4,28.0,150.0,0,0,0,1456,False,False,True,False,False,False,False,True,True,False,False,False
5,22.0,94.5,0,0,0,2141,True,False,False,False,True,False,False,True,False,False,False,False
6,31.0,3110.0,0,0,0,2208,False,False,False,False,False,False,False,False,False,False,False,True
7,29.0,180.0,0,0,0,1677,False,True,False,False,False,False,False,True,True,False,False,False
8,27.0,160.0,0,0,0,1958,True,True,False,False,False,False,False,False,True,False,False,False
9,35.0,200.0,0,0,0,1723,False,False,False,False,True,False,False,True,True,False,False,False
10,26.0,130.0,0,0,0,2032,True,False,False,True,False,False,False,False,True,False,False,False
11,29.0,300.0,1,0,0,1561,False,False,True,False,False,False,False,True,False,True,False,False
12,44.0,800.0,0,0,0,2452,True,False,False,False,True,False,False,True,False,False,True,False
13,31.0,250.0,0,0,0,2351,False,False,False,False,False,False,False,False,False,True,False,False
14,29.0,260.0,0,0,0,1485,False,False,False,False,False,False,False,False,False,True,False,False
16,18.0,94.5,0,0,0,1413,True,False,False,True,False,False,False,True,False,False,False,False
17,21.0,3110.0,0,0,0,1589,False,False,False,False,True,False,False,False,False,False,False,True
18,29.0,140.0,0,1,0,1805,True,False,False,False,False,False,True,True,True,False,False,False
19,32.0,215.0,0,0,1,1544,False,False,False,False,False,False,False,True,False,True,False,False
20,29.0,210.0,1,0,0,1767,True,False,False,False,True,False,False,True,False,True,False,False
21,27.0,3110.0,0,0,0,2472,False,False,True,False,False,False,False,False,False,False,False,True
22,31.0,160.0,0,0,0,2097,True,False,False,False,False,False,False,True,True,False,False,False
23,29.0,260.0,1,0,0,1990,False,False,False,False,True,False,False,False,False,True,False,False
24,29.0,240.0,0,0,0,1491,False,False,True,False,False,False,False,True,False,True,False,False
25,35.0,450.0,0,0,0,1690,False,True,False,False,False,False,False,True,False,True,False,False
26,24.0,100.0,0,0,0,1936,False,False,False,False,False,False,False,True,False,False,False,False
27,23.0,110.0,0,0,0,1351,False,False,False,True,False,False,False,False,True,False,False,False
28,40.0,350.0,0,0,0,2255,True,False,False,False,False,False,True,True,False,True,False,False
29,22.0,160.0,0,0,0,1592,True,False,False,False,False,False,False,True,True,False,False,False
30,31.0,280.0,0,0,0,1842,False,False,False,False,True,False,False,False,False,True,False,False
31,28.0,270.0,0,0,0,1723,True,False,True,False,False,False,False,True,False,True,False,False
32,26.0,150.0,0,0,0,1454,False,False,True,False,False,False,False,False,True,False,False,False
33,33.0,215.0,0,0,1,2041,True,False,False,False,False,False,False,True,False,True,False,False
34,27.0,190.0,0,1,0,1740,True,False,False,False,True,False,False,True,True,False,False,False
35,31.0,215.0,0,0,1,1658,False,False,False,False,False,True,False,False,False,True,False,False
36,29.0,310.0,0,0,0,1409,False,False,False,False,False,False,False,True,False,True,False,False
37,28.0,200.0,0,0,0,1874,False,False,False,False,False,False,False,False,True,False,False,False
38,45.0,400.0,0,0,0,1529,True,False,False,False,True,False,False,True,False,True,False,False
39,46.0,420.0,0,0,0,1711,False,False,False,False,False,False,True,False,False,True,False,False
40,34.0,260.0,0,0,0,2299,True,False,False,True,False,False,False,True,False,True,False,False
41,25.0,180.0,0,0,0,1640,True,True,False,False,False,False,False,True,True,False,False,False
42,29.0,290.0,0,0,0,1723,False,False,False,False,False,False,False,True,False,True,False,False
43,31.0,150.0,0,0,0,1587,True,False,False,False,True,False,False,False,True,False,False,False
44,32.0,230.0,0,0,0,1657,False,False,True,False,False,False,False,True,False,True,False,False
45,22.0,94.5,0,0,0,2128,True,False,False,False,False,False,True,True,False,False,False,False
46,29.0,300.0,1,0,0,1562,False,False,False,False,True,False,False,False,False,True,False,False
47,30.0,200.0,0,1,0,1904,True,False,False,False,False,False,False,True,True,False,False,False
48,33.0,210.0,0,0,0,1734,False,True,False,False,False,False,False,True,False,True,False,False
49,31.0,250.0,0,0,0,1696,False,False,False,False,True,False,False,False,False,True,False,False
50,24.0,190.0,0,0,0,1793,True,False,False,False,False,False,False,True,True,False,False,False

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size= 0.2, random_state= 42)

In [ ]:
x_test

,Age,PurchaseAmount,Age_was_missing,Income_was_missing,PurchaseAmount_was_missing,Membershipdays,Gender_male,Location_ibadan,Location_kaduna,Location_kano,Location_lagos,Location_nan,Location_port harcourt,IsMember_yes,Purchase_bin_low,Purchase_bin_mid,Purchase_bin_high,Purchase_bin_very_high
13,31.0,250.0,0,0,0,2351,False,False,False,False,False,False,False,False,False,True,False,False
40,34.0,260.0,0,0,0,2299,True,False,False,True,False,False,False,True,False,True,False,False
31,28.0,270.0,0,0,0,1723,True,False,True,False,False,False,False,True,False,True,False,False
46,29.0,300.0,1,0,0,1562,False,False,False,False,True,False,False,False,False,True,False,False
18,29.0,140.0,0,1,0,1805,True,False,False,False,False,False,True,True,True,False,False,False
49,31.0,250.0,0,0,0,1696,False,False,False,False,True,False,False,False,False,True,False,False
27,23.0,110.0,0,0,0,1351,False,False,False,True,False,False,False,False,True,False,False,False
26,24.0,100.0,0,0,0,1936,False,False,False,False,False,False,False,True,False,False,False,False
33,33.0,215.0,0,0,1,2041,True,False,False,False,False,False,False,True,False,True,False,False
20,29.0,210.0,1,0,0,1767,True,False,False,False,True,False,False,True,False,True,False,False

In [ ]:
model = LinearRegression()

In [ ]:
model_2 = RandomForestRegressor(
    n_estimators=100,
    max_depth=None,
    min_samples_split=2,
    min_samples_leaf=1
)

In [ ]:
model_3 = GradientBoostingRegressor()

In [ ]:
model.fit(x_train, y_train)

LinearRegression()

In [ ]:
model_2.fit(x_train, y_train)

RandomForestRegressor()

In [ ]:
model_3.fit(x_train, y_train)

GradientBoostingRegressor()

In [ ]:
y_pred = model.predict(x_test)

In [ ]:
y_pred

array([60231.04494621, 64988.70879381, 61560.07597636, 53651.60784535,
       54775.61469477, 53557.82031551, 38727.86605886, 34545.50832846,
       70907.88730372, 59738.98015453])

In [ ]:
y_pred_2 = model_2.predict(x_test)

In [ ]:
y_pred_3 = model_3.predict(x_test)

In [ ]:
r2_modelRFG = r2_score(y_test, y_pred_2)
r2_modelRFG

0.4662928243793587

In [ ]:
r2_modelGBR = r2_score(y_test, y_pred_3)
r2_modelGBR

0.4957854725120613

In [ ]:
r2_modelLR = r2_score(y_test, y_pred)

In [ ]:
r2_modelLR

0.3248451075015393

In [ ]:
df_ready.drop(columns= 'JoinDate')

,CustomerID,Age,Income,PurchaseAmount,JoinDate_Parsed,Age_was_missing,Income_was_missing,PurchaseAmount_was_missing,Membershipdays,Gender_male,...,Location_kaduna,Location_kano,Location_lagos,Location_nan,Location_port harcourt,IsMember_yes,Purchase_bin_low,Purchase_bin_mid,Purchase_bin_high,Purchase_bin_very_high
0,101,25.0,45000.0,120.0,2021-05-10 00:00:00,0,0,0,1662,True,...,False,False,True,False,False,True,True,False,False,False
1,102,29.0,52000.0,220.0,2020-07-13 00:00:00,1,0,0,1963,False,...,False,False,False,False,False,False,False,True,False,False
2,103,33.0,55000.0,310.0,2021-03-10 12:00:00,0,1,0,1723,True,...,False,False,True,False,False,True,False,True,False,False
3,104,29.0,58000.0,215.0,2021-09-21 00:00:00,1,0,1,1528,False,...,False,False,False,False,True,False,False,True,False,False
4,105,28.0,47000.0,150.0,2021-12-02 00:00:00,0,0,0,1456,False,...,True,False,False,False,False,True,True,False,False,False
5,106,22.0,38000.0,94.5,2020-01-17 00:00:00,0,0,0,2141,True,...,False,False,True,False,False,True,False,False,False,False
6,107,31.0,62000.0,3110.0,2019-11-11 00:00:00,0,0,0,2208,False,...,False,False,False,False,False,False,False,False,False,True
7,108,29.0,54000.0,180.0,2021-04-25 00:00:00,0,0,0,1677,False,...,False,False,False,False,False,True,True,False,False,False
8,109,27.0,49000.0,160.0,2020-07-18 00:00:00,0,0,0,1958,True,...,False,False,False,False,False,False,True,False,False,False
9,110,35.0,61000.0,200.0,2021-03-10 12:00:00,0,0,0,1723,False,...,False,False,True,False,False,True,True,False,False,False
10,111,26.0,45000.0,130.0,2020-05-05 00:00:00,0,0,0,2032,True,...,False,True,False,False,False,False,True,False,False,False
11,112,29.0,58000.0,300.0,2021-08-19 00:00:00,1,0,0,1561,False,...,True,False,False,False,False,True,False,True,False,False
12,113,44.0,86000.0,800.0,2019-03-12 00:00:00,0,0,0,2452,True,...,False,False,True,False,False,True,False,False,True,False
13,114,31.0,60000.0,250.0,2019-06-21 00:00:00,0,0,0,2351,False,...,False,False,False,False,False,False,False,True,False,False
14,115,29.0,58000.0,260.0,2021-11-03 00:00:00,0,0,0,1485,False,...,False,False,False,False,False,False,False,True,False,False
16,116,18.0,28900.0,94.5,2022-01-14 00:00:00,0,0,0,1413,True,...,False,True,False,False,False,True,False,False,False,False
17,117,21.0,30000.0,3110.0,2021-07-22 00:00:00,0,0,0,1589,False,...,False,False,True,False,False,False,False,False,False,True
18,118,29.0,55000.0,140.0,2020-12-18 00:00:00,0,1,0,1805,True,...,False,False,False,False,True,True,True,False,False,False
19,119,32.0,67000.0,215.0,2021-09-05 00:00:00,0,0,1,1544,False,...,False,False,False,False,False,True,False,True,False,False
20,120,29.0,50000.0,210.0,2021-01-25 00:00:00,1,0,0,1767,True,...,False,False,True,False,False,True,False,True,False,False
21,121,27.0,49000.0,3110.0,2019-02-20 00:00:00,0,0,0,2472,False,...,True,False,False,False,False,False,False,False,False,True
22,122,31.0,51000.0,160.0,2020-03-01 00:00:00,0,0,0,2097,True,...,False,False,False,False,False,True,True,False,False,False
23,123,29.0,62000.0,260.0,2020-06-16 00:00:00,1,0,0,1990,False,...,False,False,True,False,False,False,False,True,False,False
24,124,29.0,59000.0,240.0,2021-10-28 00:00:00,0,0,0,1491,False,...,True,False,False,False,False,True,False,True,False,False
25,125,35.0,65000.0,450.0,2021-04-12 00:00:00,0,0,0,1690,False,...,False,False,False,False,False,True,False,True,False,False
26,126,24.0,28900.0,100.0,2020-08-09 00:00:00,0,0,0,1936,False,...,False,False,False,False,False,True,False,False,False,False
27,127,23.0,28900.0,110.0,2022-03-17 00:00:00,0,0,0,1351,False,...,False,True,False,False,False,False,True,False,False,False
28,128,40.0,86000.0,350.0,2019-09-25 00:00:00,0,0,0,2255,True,...,False,False,False,False,True,True,False,True,False,False
29,129,22.0,86000.0,160.0,2021-07-19 00:00:00,0,0,0,1592,True,...,False,False,False,False,False,True,True,False,False,False
30,130,31.0,56000.0,280.0,2020-11-11 00:00:00,0,0,0,1842,False,...,False,False,True,False,False,False,False,True,False,False
31,131,28.0,51000.0,270.0,2021-03-10 12:00:00,0,0,0,1723,True,...,True,False,False,False,False,True,False,True,False,False
32,132,26.0,47000.0,150.0,2021-12-04 00:00:00,0,0,0,1454,False,...,True,False,False,False,False,False,True,False,False,False
33,133,33.0,49000.0,215.0,2020-04-26 00:00:00,0,0,1,2041,True,...,False,False,False,False,False,True,False,True,False,False
34,134,27.0,55000.0,190.0,2021-02-21 00:00:00,0,1,0,1740,True,...,False,False,True,False,False,True,True,False,False,False
35,135,31.0,60000.0,215.0,2021-05-14 00:00:00,0,0,1,1658,False,...,False,False,False,True,False,False,False,True,False,False
36,136,29.0,61000.0,310.0,2022-01-18 00:00:00,0,0,0,1409,False,...,False,False,False,False,False,True,False,True,False,False
37,137,28.0,43000.0,200.0,2020-10-10 00:00:00,0,0,0,1874,False,...,False,False,False,False,False,False,True,False,False,False
38,138,45.0,70000.0,400.0,2021-09-20 00:00:00,0,0,0,1529,True,...,False,False,True,False,False,True,False,True,False,False
39,139,46.0,75000.0,420.0,2021-03-22 00:00:00,0,0,0,1711,False,...,False,False,False,False,True,False,False,True,False,False
40,140,34.0,62000.0,260.0,2019-08-12 00:00:00,0,0,0,2299,True,...,False,True,False,False,False,True,False,True,False,False
41,141,25.0,48000.0,180.0,2021-06-01 00:00:00,0,0,0,1640,True,...,False,False,False,False,False,True,True,False,False,False
42,142,29.0,61000.0,290.0,2021-03-10 12:00:00,0,0,0,1723,False,...,False,False,False,False,False,True,False,True,False,False
43,143,31.0,52000.0,150.0,2021-07-24 00:00:00,0,0,0,1587,True,...,False,False,True,False,False,False,True,False,False,False
44,144,32.0,58000.0,230.0,2021-05-15 00:00:00,0,0,0,1657,False,...,True,False,False,False,False,True,False,True,False,False
45,145,22.0,32000.0,94.5,2020-01-30 00:00:00,0,0,0,2128,True,...,False,False,False,False,True,True,False,False,False,False
46,146,29.0,65000.0,300.0,2021-08-18 00:00:00,1,0,0,1562,False,...,False,False,True,False,False,False,False,True,False,False
47,147,30.0,55000.0,200.0,2020-09-10 00:00:00,0,1,0,1904,True,...,False,False,False,False,False,True,True,False,False,False
48,148,33.0,53000.0,210.0,2021-02-27 00:00:00,0,0,0,1734,False,...,False,False,False,False,False,True,False,True,False,False
49,149,31.0,62000.0,250.0,2021-04-06 00:00:00,0,0,0,1696,False,...,False,False,True,False,False,False,False,True,False,False
50,150,24.0,41000.0,190.0,2020-12-30 00:00:00,0,0,0,1793,True,...,False,False,False,False,False,True,True,False,False,False

In [ ]:
df['IsMember'].isna().sum()

np.int64(0)

In [ ]:
df['JoinDate_Parsed'] = df['JoinDate_Parsed'].fillna(df['JoinDate_Parsed'].median())

In [ ]:
df

,CustomerID,Age,Gender,Income,PurchaseAmount,JoinDate,Location,IsMember,JoinDate_Parsed,Age_was_missing,Income_was_missing,PurchaseAmount_was_missing
0,101,25.0,male,45000.0,120.0,5/10/2021,lagos,yes,2021-05-10 00:00:00,0,0,0
1,102,29.0,female,52000.0,220.0,7/13/2020,abuja,no,2020-07-13 00:00:00,1,0,0
2,103,33.0,male,55000.0,310.0,13-08-2022,lagos,yes,2021-03-10 12:00:00,0,1,0
3,104,29.0,female,58000.0,215.0,9/21/2021,port harcourt,no,2021-09-21 00:00:00,1,0,1
4,105,28.0,female,47000.0,150.0,12/2/2021,kaduna,yes,2021-12-02 00:00:00,0,0,0
5,106,22.0,male,38000.0,90.0,1/17/2020,lagos,yes,2020-01-17 00:00:00,0,0,0
6,107,31.0,female,62000.0,5000.0,11/11/2019,abuja,no,2019-11-11 00:00:00,0,0,0
7,108,29.0,female,54000.0,180.0,4/25/2021,ibadan,yes,2021-04-25 00:00:00,0,0,0
8,109,27.0,male,49000.0,160.0,7/18/2020,ibadan,no,2020-07-18 00:00:00,0,0,0
9,110,35.0,female,61000.0,200.0,2022-02-30,lagos,yes,2021-03-10 12:00:00,0,0,0
10,111,26.0,male,45000.0,130.0,5/5/2020,kano,no,2020-05-05 00:00:00,0,0,0
11,112,29.0,female,58000.0,300.0,8/19/2021,kaduna,yes,2021-08-19 00:00:00,1,0,0
12,113,44.0,male,150000.0,800.0,3/12/2019,lagos,yes,2019-03-12 00:00:00,0,0,0
13,114,31.0,female,60000.0,250.0,6/21/2019,abuja,no,2019-06-21 00:00:00,0,0,0
14,115,29.0,female,58000.0,260.0,11/3/2021,abuja,no,2021-11-03 00:00:00,0,0,0
16,116,18.0,male,22000.0,70.0,1/14/2022,kano,yes,2022-01-14 00:00:00,0,0,0
17,117,21.0,female,30000.0,50000.0,7/22/2021,lagos,no,2021-07-22 00:00:00,0,0,0
18,118,29.0,male,55000.0,140.0,12/18/2020,port harcourt,yes,2020-12-18 00:00:00,0,1,0
19,119,32.0,female,67000.0,215.0,9/5/2021,abuja,yes,2021-09-05 00:00:00,0,0,1
20,120,29.0,male,50000.0,210.0,1/25/2021,lagos,yes,2021-01-25 00:00:00,1,0,0
21,121,27.0,female,49000.0,8000.0,2/20/2019,kaduna,no,2019-02-20 00:00:00,0,0,0
22,122,31.0,male,51000.0,160.0,3/1/2020,abuja,yes,2020-03-01 00:00:00,0,0,0
23,123,29.0,female,62000.0,260.0,6/16/2020,lagos,no,2020-06-16 00:00:00,1,0,0
24,124,29.0,female,59000.0,240.0,10/28/2021,kaduna,yes,2021-10-28 00:00:00,0,0,0
25,125,35.0,female,65000.0,450.0,4/12/2021,ibadan,yes,2021-04-12 00:00:00,0,0,0
26,126,24.0,female,27000.0,100.0,8/9/2020,abuja,yes,2020-08-09 00:00:00,0,0,0
27,127,23.0,female,28000.0,110.0,3/17/2022,kano,no,2022-03-17 00:00:00,0,0,0
28,128,40.0,male,95000.0,350.0,9/25/2019,port harcourt,yes,2019-09-25 00:00:00,0,0,0
29,129,22.0,male,300000.0,160.0,7/19/2021,abuja,yes,2021-07-19 00:00:00,0,0,0
30,130,31.0,female,56000.0,280.0,11/11/2020,lagos,no,2020-11-11 00:00:00,0,0,0
31,131,28.0,male,51000.0,270.0,13-07-2021,kaduna,yes,2021-03-10 12:00:00,0,0,0
32,132,26.0,female,47000.0,150.0,12/4/2021,kaduna,no,2021-12-04 00:00:00,0,0,0
33,133,33.0,male,49000.0,215.0,4/26/2020,abuja,yes,2020-04-26 00:00:00,0,0,1
34,134,27.0,male,55000.0,190.0,2/21/2021,lagos,yes,2021-02-21 00:00:00,0,1,0
35,135,31.0,female,60000.0,215.0,5/14/2021,nan,no,2021-05-14 00:00:00,0,0,1
36,136,29.0,female,61000.0,310.0,1/18/2022,abuja,yes,2022-01-18 00:00:00,0,0,0
37,137,28.0,female,43000.0,200.0,10/10/2020,abuja,no,2020-10-10 00:00:00,0,0,0
38,138,45.0,male,70000.0,400.0,9/20/2021,lagos,yes,2021-09-20 00:00:00,0,0,0
39,139,46.0,female,75000.0,420.0,3/22/2021,port harcourt,no,2021-03-22 00:00:00,0,0,0
40,140,34.0,male,62000.0,260.0,8/12/2019,kano,yes,2019-08-12 00:00:00,0,0,0
41,141,25.0,male,48000.0,180.0,6/1/2021,ibadan,yes,2021-06-01 00:00:00,0,0,0
42,142,29.0,female,61000.0,290.0,NaN,abuja,yes,2021-03-10 12:00:00,0,0,0
43,143,31.0,male,52000.0,150.0,7/24/2021,lagos,no,2021-07-24 00:00:00,0,0,0
44,144,32.0,female,58000.0,230.0,5/15/2021,kaduna,yes,2021-05-15 00:00:00,0,0,0
45,145,22.0,male,32000.0,80.0,1/30/2020,port harcourt,yes,2020-01-30 00:00:00,0,0,0
46,146,29.0,female,65000.0,300.0,8/18/2021,lagos,no,2021-08-18 00:00:00,1,0,0
47,147,30.0,male,55000.0,200.0,9/10/2020,abuja,yes,2020-09-10 00:00:00,0,1,0
48,148,33.0,female,53000.0,210.0,2/27/2021,ibadan,yes,2021-02-27 00:00:00,0,0,0
49,149,31.0,female,62000.0,250.0,4/6/2021,lagos,no,2021-04-06 00:00:00,0,0,0
50,150,24.0,male,41000.0,190.0,12/30/2020,abuja,yes,2020-12-30 00:00:00,0,0,0

In [ ]:
x.head

<bound method NDFrame.head of     CustomerID    Age  Gender  PurchaseAmount    JoinDate       Location  \
0          101   25.0    Male           120.0   5/10/2021          Lagos
1          102    NaN  Female           220.0   7/13/2020          Abuja
2          103   33.0       M           310.0  13-08-2022          Lagos
3          104  200.0  Female             NaN   9/21/2021   Port harourt
4          105   28.0     NaN           150.0   12/2/2021         Kaduna
5          106   22.0    Male            90.0   1/17/2020          lagos
6          107   31.0  Female          5000.0  11/11/2019          Abuja
7          108   29.0   Fmale           180.0   4/25/2021         Ibadan
8          109   27.0    Male           160.0   7/18/2020         IBADAN
9          110   35.0  Female           200.0  2022-02-30          Lagos
10         111   26.0    male           130.0    5/5/2020           kano
11         112    NaN  Female           300.0   8/19/2021         Kaduna
12         113   44.0    Male           800.0   3/12/2019          Lagos
13         114   31.0  Female           250.0   6/21/2019          Abuja
14         115   29.0  Female           260.0   11/3/2021          Abuja
15         115   29.0  Female           260.0   11/3/2021          Abuja
16         116   18.0    Male            70.0   1/14/2022           Kano
17         117   21.0     NaN         50000.0   7/22/2021          Lagos
18         118   29.0    Male           140.0  12/18/2020  Port Harcourt
19         119   32.0  Female             NaN    9/5/2021          Abuja
20         120   -5.0    Male           210.0   1/25/2021          Lagos
21         121   27.0  Female          8000.0   2/20/2019        Kadunaa
22         122   31.0    Male           160.0    3/1/2020          Abuja
23         123    NaN  Female           260.0   6/16/2020          Lagos
24         124   29.0  Female           240.0  10/28/2021         Kaduna
25         125   35.0     NaN           450.0   4/12/2021         Ibadan
26         126   24.0  Female           100.0    8/9/2020          Abuja
27         127   23.0  Female           110.0   3/17/2022           kano
28         128   40.0    Male           350.0   9/25/2019  Port-Harcourt
29         129   22.0    Male           160.0   7/19/2021          Abuja
30         130   31.0  female           280.0  11/11/2020          Lagos
31         131   28.0    Male           270.0  13-07-2021         kaduna
32         132   26.0  Female           150.0   12/4/2021         Kaduna
33         133   33.0    Male             NaN   4/26/2020          Abuja
34         134   27.0    male           190.0   2/21/2021          LAgos
35         135   31.0  Female             NaN   5/14/2021            NaN
36         136   29.0  Female           310.0   1/18/2022          Abuja
37         137   28.0   FMale           200.0  10/10/2020          Abuja
38         138   45.0    Male           400.0   9/20/2021          Lagos
39         139   46.0  Female           420.0   3/22/2021  Port Harcourt
40         140   34.0    Male           260.0   8/12/2019           Kano
41         141   25.0    Male           180.0    6/1/2021         Ibadan
42         142   29.0  Female           290.0         NaN          Abuja
43         143   31.0    Male           150.0   7/24/2021          Lagos
44         144   32.0  Female           230.0   5/15/2021         Kaduna
45         145   22.0    Male            80.0   1/30/2020  Port Harcourt
46         146  500.0  Female           300.0   8/18/2021          Lagos
47         147   30.0    Male           200.0   9/10/2020          Abuja
48         148   33.0  Female           210.0   2/27/2021         Ibadan
49         149   31.0     NaN           250.0    4/6/2021          Lagos
50         150   24.0    Male           190.0  12/30/2020          Abuja

   IsMember
0       Yes
1        No
2       YES
3        No
4       Yes
5       yes
6        No
7       Yes
8        No
9       Yes
10       No
11      Yes
12      Yes
13       No
14       No
15       No
16      Yes
17       No
18      Yes
19      yes
20      Yes
21       No
22      Yes
23       No
24      Yes
25      Yes
26      yes
27       No
28      Yes
29      Yes
30       No
31      YES
32       No
33      Yes
34      yes
35       No
36      Yes
37       No
38      Yes
39       NO
40      Yes
41      Yes
42      Yes
43       No
44      Yes
45      Yes
46       No
47      Yes
48      Yes
49       No
50      Yes  >

In [ ]:
y = data['Income']

In [ ]:
y.head()

0    45000.0
1    52000.0
2        NaN
3    58000.0
4    47000.0
Name: Income, dtype: float64

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='median')
imputer.fit(x[['Age','PurchaseAmount']])
x[['Age','PurchaseAmount']] = imputer.transform(x[['Age','PurchaseAmount']])

/tmp/ipython-input-2646973809.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[['Age','PurchaseAmount']] = imputer.transform(x[['Age','PurchaseAmount']])

In [ ]:
x

,CustomerID,Age,Gender,PurchaseAmount,JoinDate,Location,IsMember
0,101,25.0,Male,120.0,5/10/2021,Lagos,Yes
1,102,29.0,Female,220.0,7/13/2020,Abuja,No
2,103,33.0,M,310.0,13-08-2022,Lagos,YES
3,104,200.0,Female,220.0,9/21/2021,Port harourt,No
4,105,28.0,NaN,150.0,12/2/2021,Kaduna,Yes
5,106,22.0,Male,90.0,1/17/2020,lagos,yes
6,107,31.0,Female,5000.0,11/11/2019,Abuja,No
7,108,29.0,Fmale,180.0,4/25/2021,Ibadan,Yes
8,109,27.0,Male,160.0,7/18/2020,IBADAN,No
9,110,35.0,Female,200.0,2022-02-30,Lagos,Yes
10,111,26.0,male,130.0,5/5/2020,kano,No
11,112,29.0,Female,300.0,8/19/2021,Kaduna,Yes
12,113,44.0,Male,800.0,3/12/2019,Lagos,Yes
13,114,31.0,Female,250.0,6/21/2019,Abuja,No
14,115,29.0,Female,260.0,11/3/2021,Abuja,No
15,115,29.0,Female,260.0,11/3/2021,Abuja,No
16,116,18.0,Male,70.0,1/14/2022,Kano,Yes
17,117,21.0,NaN,50000.0,7/22/2021,Lagos,No
18,118,29.0,Male,140.0,12/18/2020,Port Harcourt,Yes
19,119,32.0,Female,220.0,9/5/2021,Abuja,yes
20,120,-5.0,Male,210.0,1/25/2021,Lagos,Yes
21,121,27.0,Female,8000.0,2/20/2019,Kadunaa,No
22,122,31.0,Male,160.0,3/1/2020,Abuja,Yes
23,123,29.0,Female,260.0,6/16/2020,Lagos,No
24,124,29.0,Female,240.0,10/28/2021,Kaduna,Yes
25,125,35.0,NaN,450.0,4/12/2021,Ibadan,Yes
26,126,24.0,Female,100.0,8/9/2020,Abuja,yes
27,127,23.0,Female,110.0,3/17/2022,kano,No
28,128,40.0,Male,350.0,9/25/2019,Port-Harcourt,Yes
29,129,22.0,Male,160.0,7/19/2021,Abuja,Yes
30,130,31.0,female,280.0,11/11/2020,Lagos,No
31,131,28.0,Male,270.0,13-07-2021,kaduna,YES
32,132,26.0,Female,150.0,12/4/2021,Kaduna,No
33,133,33.0,Male,220.0,4/26/2020,Abuja,Yes
34,134,27.0,male,190.0,2/21/2021,LAgos,yes
35,135,31.0,Female,220.0,5/14/2021,NaN,No
36,136,29.0,Female,310.0,1/18/2022,Abuja,Yes
37,137,28.0,FMale,200.0,10/10/2020,Abuja,No
38,138,45.0,Male,400.0,9/20/2021,Lagos,Yes
39,139,46.0,Female,420.0,3/22/2021,Port Harcourt,NO
40,140,34.0,Male,260.0,8/12/2019,Kano,Yes
41,141,25.0,Male,180.0,6/1/2021,Ibadan,Yes
42,142,29.0,Female,290.0,NaN,Abuja,Yes
43,143,31.0,Male,150.0,7/24/2021,Lagos,No
44,144,32.0,Female,230.0,5/15/2021,Kaduna,Yes
45,145,22.0,Male,80.0,1/30/2020,Port Harcourt,Yes
46,146,500.0,Female,300.0,8/18/2021,Lagos,No
47,147,30.0,Male,200.0,9/10/2020,Abuja,Yes
48,148,33.0,Female,210.0,2/27/2021,Ibadan,Yes
49,149,31.0,NaN,250.0,4/6/2021,Lagos,No
50,150,24.0,Male,190.0,12/30/2020,Abuja,Yes

# Task
Perform a hyperparameter tuning for `RandomForestRegressor` on the prepared training data (`x_train`, `y_train`) using `GridSearchCV`. Define a parameter grid that includes values for `n_estimators`, `max_depth`, `min_samples_split`, and `min_samples_leaf`. After fitting the `GridSearchCV` object, evaluate the `best_estimator_` on the test set (`x_test`, `y_test`) and print its R2 score.

## Define Parameter Grid

### Subtask:
Define a dictionary of hyperparameters and their possible values for the RandomForestRegressor to search through.

**Reasoning**:
The subtask requires defining a parameter grid for hyperparameter tuning. I will create a dictionary with the specified hyperparameters and their possible values.

In [ ]:
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [10, 20, None],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}
print("Parameter grid defined successfully.")

Parameter grid defined successfully.

**Reasoning**:
The next logical step is to import the `GridSearchCV` module to perform hyperparameter tuning for the `RandomForestRegressor`.

In [ ]:
from sklearn.model_selection import GridSearchCV
print("GridSearchCV imported successfully.")

GridSearchCV imported successfully.

**Reasoning**:
Now that the parameter grid is defined and `GridSearchCV` is imported, I will initialize the `GridSearchCV` object with the `RandomForestRegressor` model and the defined `param_grid`. This sets up the search process for optimal hyperparameters.

In [ ]:
grid_search = GridSearchCV(estimator=RandomForestRegressor(random_state=42), param_grid=param_grid, cv=3, n_jobs=-1, verbose=2)
print("GridSearchCV initialized.")

GridSearchCV initialized.

**Reasoning**:
With the `GridSearchCV` object initialized, the next step is to fit it to the training data (`x_train`, `y_train`) to perform the hyperparameter search and find the best model.

In [ ]:
grid_search.fit(x_train, y_train)
print("GridSearchCV fitting complete.")

Fitting 3 folds for each of 81 candidates, totalling 243 fits
GridSearchCV fitting complete.

**Reasoning**:
After fitting `GridSearchCV`, I will retrieve the best estimator found during the search, which is the RandomForestRegressor model with the optimal hyperparameters.

In [ ]:
best_rf_model = grid_search.best_estimator_
print("Best RandomForestRegressor model retrieved.")

Best RandomForestRegressor model retrieved.

**Reasoning**:
Now that the best model has been retrieved, I will use it to make predictions on the test set (`x_test`) to evaluate its performance.

In [ ]:
y_pred_best_rf = best_rf_model.predict(x_test)
print("Predictions made using the best RandomForestRegressor model.")

Predictions made using the best RandomForestRegressor model.

**Reasoning**:
To evaluate the performance of the best model, I will calculate its R2 score using the actual values (`y_test`) and the predicted values (`y_pred_best_rf`).

In [ ]:
r2_best_rf = r2_score(y_test, y_pred_best_rf)
print(f"R2 score for the best RandomForestRegressor model: {r2_best_rf}")

R2 score for the best RandomForestRegressor model: 0.6515306527160604

## Summary:

### Data Analysis Key Findings

*   A parameter grid was successfully defined for `RandomForestRegressor`, including hyperparameters such as `n_estimators`, `max_depth`, `min_samples_split`, and `min_samples_leaf`.
*   `GridSearchCV` was initialized with the defined parameter grid and used to perform hyperparameter tuning across 243 fits (81 candidate combinations with 3-fold cross-validation).
*   The best `RandomForestRegressor` model, identified through `GridSearchCV`, achieved an R2 score of approximately 0.6515 on the test set.

### Insights or Next Steps

*   The current R2 score of 0.6515 suggests a moderately good fit; further investigation into feature engineering or exploring other model architectures might yield better performance.
*   Consider expanding the parameter grid or using more advanced tuning techniques like Randomized Search or Bayesian Optimization to potentially find a better performing model within a more efficient search space.